<div class="lls-container u-mt-5">
  <div class="lls-search-intro">
    <div class="lls-row">
    <h2 class="lls-search-intro__header lls-columns-12 lls-columns-4--lg lls-columns-4--xl">
      {{ config.title }}
    </h2>
    <div
      class="lls-search-intro__text lls-columns-12 lls-columns-6--lg lls-columns-4--xl"
      [innerHTML]="config.introText"
    ></div>
    <div class="lls-search-intro__beta-container lls-columns-12 lls-columns-2--lg lls-columns-4--xl">
      <h3 class="lls-search-intro__beta-text u-font-handwriting u-margin-0">
        Beta
      </h3>
    </div>
    </div>
  </div>
  <div class="lls-card">
    <h3 class="lls-card__title" id="simple-search-headline">
      Fritekstsøgning
    </h3>
    <form (ngSubmit)="searchSimple()">
      <div class="lls-row">
        <div class="lls-input-group lls-columns-12 lls-columns-8--md">
          <input
            type="text"
            placeholder="Søg i livsforløb eller kilder"
            class="lls-input-field lls-input-field--big lls-input-group__field lls-input-group__field--left"
            aria-labelledby="simple-search-headline"
            [(ngModel)]="query"
            name="query"
          />
          <button
              type="submit"
              class="lls-btn lls-btn--big lls-btn--right lls-btn--desktop"
            >
              <span>Søg</span>
              <svg class="lls-icon lls-icon--right">
                <use [attr.href]="featherSpriteUrl + '#search'"></use>
              </svg>
          </button>
        </div>
        <div class="lls-simple-search__options lls-columns-12 lls-columns-4--md lls-row">
          <fieldset class="lls-search-options__result-type lls-columns-6 lls-columns-12--md">
            <legend class="lls-input-label">Resultattype</legend>
            <div class="lls-search-options__result-type-checkboxes">
              <label class="lls-search-options__checkbox-container" *ngFor="let index of indexKeys">
                <input
                  [(ngModel)]="indices[index].value"
                  type="checkbox"
                  class="lls-search-options__checkbox"
                  [name]="'index_' + index"
                >
                <span>{{ indices[index].label }}</span>
              </label>
            </div>
          </fieldset>
          <div class="lls-simple-search__mobile-button lls-columns-6 lls-columns-12--md">
            <button
              type="submit"
              class="lls-btn lls-btn--big lls-btn--mobile"
            >
              <span>Søg</span>
              <svg class="lls-icon lls-icon--right">
                <use [attr.href]="featherSpriteUrl + '#search'"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="lls-card">
    <h3 class="lls-card__title">Specifik søgning</h3>
    <form (ngSubmit)="searchAdvanced()" class="lls-row">
      <div class="lls-columns-12 lls-columns-8--md">
        <div *ngFor="let searchTerm of searchTerms; index as i;" class="lls-input-entry">
          <span class="lls-input-label">{{ searchFieldLabels[searchTerm.field] }}</span>
          <div class="lls-input-group" *ngIf="searchTerm.field !== 'gender'">
            <input
              type="text"
              [placeholder]="searchFieldPlaceholders[searchTerm.field] || ''"
              class="lls-input-field lls-input-field--big lls-input-group__field"
              [(ngModel)]="searchTerm.value"
              [name]="'searchterm-value-' + i"
              [attr.data-search-term]="searchTerm.field"
            />
            <button
                type="button"
                class="lls-input-group__floating-action"
                [class]="searchTerms.length < 2 ? 'lls-input-group__floating-action--disabled' : ''"
                aria-label="Fjern søgning på felt"
                (click)="removeSearchTerm(i, $event)"
            >
                <svg class="lls-icon lls-icon--right">
                    <use [attr.href]="featherSpriteUrl + '#minus-circle'"></use>
                </svg>
            </button>
        </div>
        <div class="lls-input-group" *ngIf="searchTerm.field === 'gender'">
            <lls-dropdown
                class="lls-input-field lls-dropdown--option-adder "
                [options]="genderOptions"
                label="Vælg køn"
                showCurrentValue="true"
                [name]="'searchterm-value-' + i"
                [attr.data-search-term]="searchTerm.field"
                [(ngModel)]="searchTerm.value"
            ></lls-dropdown>
            <button
                type="button"
                class="lls-input-group__floating-action"
                [class]="searchTerms.length < 2 ? 'lls-input-group__floating-action--disabled' : ''"
                aria-label="Fjern søgning på felt"
                (click)="removeSearchTerm(i, $event)"
            >
                <svg class="lls-icon lls-icon--right">
                    <use [attr.href]="featherSpriteUrl + '#minus-circle'"></use>
                </svg>
            </button>
        </div>
      </div>

        <div class="lls-search-options">
          <fieldset class="lls-search-options__result-type">
            <legend class="lls-input-label">Resultattype</legend>
            <div class="lls-search-options__result-type-checkboxes">
              <label class="lls-search-options__checkbox-container" *ngFor="let index of indexKeys">
                <input
                  [(ngModel)]="indices[index].value"
                  type="checkbox"
                  class="lls-search-options__checkbox"
                  [name]="'index_' + index"
                >
                <span>{{ indices[index].label }}</span>
              </label>
            </div>
          </fieldset>
          <div class="lls-search-options__add-field">
            <lls-dropdown
              class="lls-dropdown--option-adder"
              [options]="fieldOptions"
              name="add-field"
              label="Tilføj felt"
              [featherIconPath]="config.featherIconPath"
              dropdownIcon="plus-circle"
              dropdownIconOpen="plus-circle"
              (change)="addField($event)"
            ></lls-dropdown>
            <button
              type="button"
              class="lls-search-options__clear-search"
              (click)="clearSearchTerms()"
            >
                <span class="lls-search-options__clear-search-text">Nulstil</span>
                <svg class="lls-icon lls-icon--right">
                  <use [attr.href]="featherSpriteUrl + '#x-circle'"></use>
                </svg>
            </button>
          </div>
        </div>

        <div class="u-mt-2">
          <button
            type="submit"
            class="lls-btn lls-btn--big"
          >
            <span>Søg</span>
            <svg class="lls-icon lls-icon--right">
              <use [attr.href]="featherSpriteUrl + '#search'"></use>
            </svg>
          </button>

          <label class="lls-search-options__checkbox-container mx-4">
            <input
              [(ngModel)]="modeFuzzy"
              type="checkbox"
              class="lls-search-options__checkbox"
              name="modeFuzzy"
            >
            <span>Inkluder stavevariationer i søgning</span>
          </label>
        </div>
      </div>
      <div class="lls-info-box-container lls-columns-12 lls-columns-4--md">
        <div
          class="lls-info-box"
          [innerHTML]="config.helpBoxText"
        ></div>
      </div>
    </form>
  </div>
</div>
