<style>
.search-intro {
  display: flex;
  margin: 0 4rem;
}
.search-intro--header {
  flex-shrink: 0;
  flex-grow: 1;
  font-size: 3em;
}
.search-intro--text {
  flex-basis: 600px;
  flex-grow: 0;
}
.text-link {
  display: inline-flex;
  font-weight: 500;
  border-bottom: 1px solid transparent;
  transition: border-color 0.4s;
  align-items: center;
}
.text-link:hover {
  text-decoration: none;
  border-bottom-color: black;
}
.text-link .icon {
  width: 1.2rem;
  height: 1.2rem;
  transform: translateY(0.1rem);
}
.text-link .icon.right {
  margin-left: 0.5rem;
}
.btn-black {
  display: inline-flex;
  align-items: center;
  color: white;
  background: black;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 0.95rem;
  font-weight: 600;
  padding: 1.15rem 1.5rem;
  font-family: founders, Helvetica, Arial, sans-serif;
  letter-spacing: 0.1rem;
}
.btn-right {
  border-radius: 0 3px 3px 0;
}
.btn-black .icon {
  width: 1rem;
  height: 1rem;
}
.btn-black .icon.right {
  margin-left: 0.5rem;
}
.lls-card {
  background: white;
  box-shadow: 0 0 2px rgba(0,0,0,0.05);
  padding: 4rem;
  margin: 3rem 0;
}
.lls-card__title {
  font-size: 1.375rem;
  margin-bottom: 1.375rem;
}
.input-group {
  display: flex;
  margin-top: 1rem;
}
.input-field {
  padding: 1rem 1.4rem;
  border: 1px solid #bbb;
  border-radius: 3px;
  flex-grow: 1;
}
.search-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
  width: 100%;
}
.search-columns-8 {
  grid-column: span 8;
}
.search-columns-4 {
  grid-column: span 4;
}
.dropdown-select {
  padding: 1rem 1.4rem;
  border: 1px solid #bbb;
  border-radius: 3px;
  flex-basis: 180px;
  flex-grow: 0.5;
  flex-shrink: 0.5;
}
.input-field-left {
  border-radius: 3px 0 0 3px;
}
.input-field-right {
  border-radius: 0 3px 3px 0;
}
.help-box {
  padding: 2rem;
  color: white;
  background: rgb(6, 40, 81);
  margin-top: 1rem;
  font-size: 1rem;
  flex-basis: 300px;
  flex-grow: 0;
  flex-shrink: 1;
}
.help-box strong {
  font-weight: 600;
}
.lls-form-actions {
  margin-top: 1rem;
  display: flex;
  justify-content: end;
}
.help-box-container {
  display: flex;
  justify-content: end;
  align-items: start;
}
</style>

<div class="container-fluid mt-5">
  <div class="search-intro">
    <h2 class="search-intro--header">
      Find livsforløb<br>
      1787&ndash;1901
    </h2>
    <div class="search-intro--text">
      <p>
        Et livsforløb er et kvalificeret forslag til hvilke historiske kilder, der omhandler den samme person.
        Vi tilføjer løbende flere livsforløb og der kan komme flere detaljer på et livsforløb.
      </p>
      <a href="#" class="search-intro--text-link text-link">
        <span>Læs mere om livsforløb</span>
        <svg class="icon right">
          <use [attr.href]="featherSpriteUrl + '#arrow-right'"></use>
        </svg>
      </a>
    </div>
    <div style="flex-grow: 1; flex-shrink: 0; text-align: right;">
      <h3 style="font-size: 4em;">Beta</h3>
    </div>
  </div>
  <div class="lls-card">
    <h3 class="lls-card__title">Fritekstsøgning</h3>
    <form (ngSubmit)="searchSimple()">
      <div class="input-group">
        <input
          type="text"
          placeholder="Søg i livsforløb eller kilder"
          class="input-field input-field-left"
          [(ngModel)]="query"
          name="query"
        />
        <button
          type="submit"
          class="btn-black btn-right"
        >
          <span>Søg</span>
          <svg class="icon right">
            <use [attr.href]="featherSpriteUrl + '#search'"></use>
          </svg>
        </button>
      </div>
    </form>
  </div>

  <div class="lls-card">
    <h3 class="lls-card__title">Specifik søgning</h3>
    <form (ngSubmit)="searchAdvanced()" class="search-row">
      <div class="search-columns-8">
        <div class="input-group">
          <input
            type="text"
            placeholder="Jens"
            class="input-field input-field-left"
            [(ngModel)]="firstName"
            name="firstName"
          />
          <select
            class="dropdown-select input-field-right"
            disabled
          >
            <option value="firstName">Fornavn</option>
          </select>
        </div>

        <div class="input-group">
          <input
            type="text"
            placeholder="Larsen"
            class="input-field input-field-left"
            [(ngModel)]="lastName"
            name="lastName"
          />
          <select
            class="dropdown-select input-field-right"
            disabled
          >
            <option value="lastName">Efternavn</option>
          </select>
        </div>

        <div class="input-group">
          <input
            type="text"
            placeholder="Odsherred Sogn"
            class="input-field input-field-left"
            [(ngModel)]="parish"
            name="parish"
          />
          <select
            class="dropdown-select input-field-right"
            disabled
          >
            <option value="parish">Sogn</option>
          </select>
        </div>

        <div class="input-group">
          <input
            type="text"
            placeholder="Aarhus"
            class="input-field input-field-left"
            [(ngModel)]="birthPlace"
            name="birthPlace"
          />
          <select
            class="dropdown-select input-field-right"
            disabled
          >
            <option value="birthPlace">Fødested</option>
          </select>
        </div>

        <div class="lls-form-actions">
          <button
            type="submit"
            class="btn-black"
          >
            <span>Søg</span>
            <svg class="icon right">
              <use [attr.href]="featherSpriteUrl + '#search'"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="search-columns-4 help-box-container">
        <div class="help-box">
          <p><strong>Du søger livsforløb i kilderne</strong></p>
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
    </form>
  </div>
</div>
