<div class="lls-source lls-source--lifecourse">
    <div class="lls-source__header lls-source__section">
        <div class="lls-source__symbol">
            <div class="lls-source__count">
                <span class="lls-source__count-number">{{ personAppearances.length }}</span>
            </div>
            <span class="lls-source__count-text">{{ personAppearances.length != 1 ? "personregistreringer" : "personregistrering" }}</span>
        </div>
        <h3 class="lls-source__title">Livsforløb</h3>
        <p class="u-margin-0">{{ sourceYearRange }}</p>
    </div>

    <div class="lls-source__section lls-source__section--bordered">
        <p class="lls-source__subtitle u-text-capitalize">Person</p>
        <p class="lls-source__person u-bold u-text-capitalize">
            {{ personName }}
        </p>
        <p class="lls-source__person-age">
            <ng-container *ngIf="birthYear">
                <svg class="lls-icon lls-icon--filled lls-icon--white lls-icon--small lls-icon--left">
                    <use [attr.href]="featherSpriteUrl + '#ll-born'"></use>
                </svg>
                {{ birthYear }}
            </ng-container>
            <ng-container *ngIf="deathYear">
                <svg class="lls-icon lls-icon--filled lls-icon--white lls-icon--small lls-icon--left u-ml-2">
                    <use [attr.href]="featherSpriteUrl + '#ll-dead'"></use>
                </svg>
                {{ deathYear }}
            </ng-container>
        </p>
        <div class="u-text-capitalize u-margin-0">
            {{ birthPlace }}
        </div>
    </div>
    <div class="lls-source__section">
        <p class="lls-source__subtitle">Kilder</p>
        <p class="u-margin-0">{{ personAppearances.length }} {{ personAppearances.length != 1 ? "personregistreringer" : "personregistrering" }} i perioden {{ sourceYearRange }}.</p>
        <p class="u-margin-0" [innerHTML]="sourceList"></p>
    </div>

    <div class="lls-source__section lls-source__section--cta">
        <div>
            <a href [routerLink]="['/life-course', lifecourseKey]" class="lls-btn lls-btn--blue lls-btn--link">
                <span>Se forløb</span>
                <svg class="lls-icon lls-icon--right">
                    <use [attr.href]="featherSpriteUrl + '#arrow-right'"></use>
                </svg>
            </a>
        </div>
    </div>
</div>
