.life-course {
  display: flex;
  background-color: #062851;
  color: white;
  border-radius: 10px;
}

.life-course__section {
  padding: 24px 20px;
  width: 100%;
  box-sizing: border-box;
}

.life-course__section--bordered {
  border-right: 1px solid;
  border-left: 1px solid;
  border-color: #324c6d;
}

.life-course__cta-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.life-course__color-indicator {
  width: 50px;
  background-color: #010f25;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.life-course__title {
  font-size: 1.3rem;
}

.life-course__source-count {
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-bottom: 20px;
}

.life-course__circle {
  // TODO: Fix vertical alignment on number in circle.
  display: flex;
  height: 25px;
  width: 25px;
  border: 2px solid white;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.life-course__subtitle {
  font-size: 14px;
  color: #96a3b4;
  margin-bottom: 0;
}

.life-course__name {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0;
}

.btn--blue {
  color: white;
  background-color: #255da8;
  border-color: #255da8;

  &:hover {
    background-color: darken(#255da8, 5%);
  }
}

.u-margin-0 {
  margin: 0 !important;
}