<div class="lls-container lls-data-view-container">
    <section class="lls-data-page-header u-mb-4">
        <div class="lls-data-page-header__utility-links">
            <a
                class="lls-data-page-header__utility-link"
                [routerLink]="['/results']"
                [queryParams]="getLatestSearchQuery()"
            >
                Tilbage til søgeresultat
            </a>
            <a
                class="lls-data-page-header__utility-link lls-btn"
                (click)="openSearchHistory = true"
                (keyup.enter)="openSearchHistory = true"
                tabindex="0"
            >
                Søgehistorik
            </a>
        </div>
        <div class="lls-data-page-header__classification">
            <h2 class="lls-data-page-header__source-type">Livsforløb</h2>
            <h1 class="lls-data-page-header__title u-text-capitalize">
                {{ personName }}
            </h1>
            <div class="lls-data-page-header__data-summary">
                <p class="u-text-capitalize u-mr-2">
                    <span class="u-text-grey--light u-mr-2">Fødested</span> {{ birthPlace }}
                </p>
                <ng-container *ngIf="birthYear">
                    <p class="u-align-icon">
                        <svg class="lls-icon lls-icon--filled lls-icon--small lls-icon--left">
                            <use [attr.href]="featherSpriteUrl + '#star'"></use>
                        </svg>
                        {{ birthYear }}
                    </p>
                </ng-container>
                <ng-container *ngIf="deathYear">
                    <p class="u-align-icon">
                        <svg class="lls-icon lls-icon--filled lls-icon--small lls-icon--left">
                            <use [attr.href]="featherSpriteUrl + '#ll-dead'"></use>
                        </svg>
                        {{ deathYear }}
                    </p>
                </ng-container>
            </div>
        </div>
    </section>
    <app-search-history
        [openSearchHistory]="openSearchHistory"
        [featherIconPath]="featherSpriteUrl"
        (close)="openSearchHistory = false"
    ></app-search-history>
    <app-link-rating
        [linkId]="currentLinkId"
        [chosenRatingId]="chosenRatingId"
        [totalRatings]="totalRatings"
        [ratingCountByCategory]="ratingCountByCategory"
        [ratedBy]="ratedBy"
        [featherIconPath]="featherSpriteUrl"
        (close)="currentLinkId = ''"
    ></app-link-rating>
    <div class="lls-row my-4">
        <div class="lls-columns-12 lls-columns-6--md"></div>
        <div class="lls-source-info lls-columns-12 lls-columns-6--md">
            <div class="lls-source-info__entry">
                <div class="lls-source-info__entry-label">Forløbs ID</div>
                <span>{{ lifecourseId }}</span>
            </div>
            <div class="lls-source-info__entry">
                <div class="lls-source-info__entry-label">Version</div>
                <span>{{ data_version }}</span>
            </div>
        </div>
    </div>
    <div class="lls-life-course-source-container">
        <section class="lls-life-course-source-container__source-list lls-row">
            <h3 class="lls-columns-12 u-margin-0">Personregistreringer</h3>
            <app-person-appearance-item
                *ngFor="let pa of pas"
                class="lls-columns-12"
                [item]="pa"
                truncatableName="true"
            ></app-person-appearance-item>
            <div class="u-mt-4 lls-columns-12">
                <div class="lls-source-info__entry">
                    <h3 class="lls-source-info__entry-label">
                        Om livsforløb
                    </h3>
                    <div [innerHTML]="aboutLifeCourseText"></div>
                </div>
            </div>
        </section>
        <section class="lls-life-course-source-container__source-linking-graph">
            <div class="lls-life-course-source-container__source-linking-title">
                <h3 class="u-margin-0">Links</h3>
                <a class="lls-link lls-link--underline" href="https://link-lives.dk/saadan-skabes-livsforloeb/">
                    Se linkningsmetode
                </a>
            </div>
            <app-source-linking-graph
                [pas]="pas"
                [links]="links"
                (openLinkRating)="openLinkRating($event)"
            ></app-source-linking-graph>
        </section>
    </div>
</div>
