<div
    class="lls-source-graph"
    [style]="'width: 320px; height: ' + ((196 + 27) * pas.length) + 'px;'"
>
    <div
        class="lls-source-graph__source"
        *ngFor="let pa of pas; index as i;"
        [style]="'top: ' + ((196 + 16) * i + (196 / 2) - 21) + 'px;'"
    >
        <div class="lls-source-graph__source-label">
            {{ pa.event_year_display }}
        </div>
        <div
            class="lls-source-graph__circle"
            [class]="'lls-source-graph__circle--' + pa.event_type"
        ></div>
    </div>

    <div
        class="lls-source-graph__chronology-line"
        [style]="'top: ' + (((196 + 16) * i + (196 / 2)) + 20 - 5) + 'px;'"
        *ngFor="let pa of pas.slice(1); index as i;"
    ></div>

    <div
        class="lls-source-graph__link"
        [class]="activeLink === link.id ? 'lls-source-graph__link--active' : ''"
        *ngFor="let link of drawableLinks; index as i;"
        [style]="'top: ' + link.offsetY + 'px;'"
        (mouseenter)="onMouseEnterLink(link.id)"
        (mouseleave)="onMouseLeaveLink(link.id)"
    >
        <div
            class="lls-source-graph__link-path"
            [style]="'width: ' + link.pathTierX + 'px; height: ' + link.lineHeight + 'px;'"
        ></div>

        <div
            class="lls-source-graph__circle lls-source-graph__circle--action"
            [class]="link.duplicates ? 'lls-source-graph__circle--link-with-duplicates' : ''"
            [style]="'transform: translate(' + (link.pathTierX - 26) + 'px, ' + (-link.lineHeight / 2) + 'px);'"
        ></div>
    </div>

    <div
        class="lls-source-graph__tooltip"
        [class]="(activeLink === link.id ? 'lls-source-graph__tooltip--active' : '') + (link.duplicates ? ' lls-source-graph__tooltip--link-with-duplicates' : '')"
        *ngFor="let link of drawableLinks; index as i;"
        [style]="'top: ' + (link.offsetY + (link.lineHeight / 2) - (link.duplicates ? 326 : 271)) + 'px; left: ' + (link.pathTierX + 30) + 'px;'"
        (mouseenter)="onMouseEnterTooltip(link.id)"
        (mouseleave)="onMouseLeaveTooltip(link.id)"
    >
        <div class="lls-source-graph__tooltip-text lls-source-graph__tooltip-text--large u-bold u-mt-0">
            Om dette link
        </div>
        <div
            class="lls-source-graph__tooltip-text"
            [attr.title]="link.linkingMethod.long"
        >
            Linket er skabt med metoden<br>
            {{ link.linkingMethod.short }}
        </div>
        <div *ngIf="link.duplicates">
            Dette link optræder i flere livsforløb og er dermed usikkert.
        </div>
        <div class="u-mt-2">
            <a class="lls-link lls-link--underline lls-link--white" href="https://link-lives.dk/saadan-skabes-livsforloeb/">
                Læs mere om metoder til linkning
            </a>
        </div>
        <div class="u-mt-2 mb-2 u-bold">
            Er linket troværdigt?
        </div>
        <button class="lls-btn lls-btn--small lls-btn--blue" (click)="openLinkRating.emit(link.id)">
            Giv feedback
        </button>
        <div class="u-mt-2">
            {{ link.totalRatings }} {{ link.totalRatings != 1 ? "personer" : "person" }} har givet feedback på dette link
        </div>
    </div>
</div>
