<div [class]="openSidebar ? 'lls-overlay' : ''"></div>
<aside class="lls-filter-sidebar lls-sidebar" [class]="openSidebar ? 'lls-sidebar--open' : ''">
  <div class="lls-sidebar__header">
    <h3 class="u-margin-0">Vælg kilder</h3>
    <button
      class="lls-btn lls-btn--outline"
      (click)="close()"
    >
      <span>Luk</span>
      <svg class="lls-icon lls-icon--right">
        <use [attr.href]="featherIconPath + '#x'"></use>
      </svg>
    </button>
  </div>
  <div class="lls-filter-sidebar__options">
    <button
      *ngIf="sidebarCategoryOpen"
      class="lls-filter-sidebar__option lls-sidebar__item"
      (click)="toggleCategory('')"
    >
    <svg class="lls-filter-sidebar__option-icon lls-icon">
      <use [attr.href]="featherIconPath + '#arrow-left'"></use>
    </svg>
      Tilbage
    </button>
    <ng-container *ngIf="!sidebarCategoryOpen">
      <button
        class="lls-filter-sidebar__option lls-sidebar__item"
        (click)="toggleCategory('burials')"
      >
        <svg class="lls-icon lls-icon--left u-mr-2">
          <use [attr.href]="featherIconPath + '#' + eventIcon('burial')"></use>
        </svg>
        Begravelser ({{ filtersCategories.burials.length }})
        <svg class="lls-filter-sidebar__option-icon lls-filter-sidebar__option-icon--right lls-icon">
          <use [attr.href]="featherIconPath + '#arrow-right'"></use>
        </svg>
      </button>
      <button
        class="lls-filter-sidebar__option lls-sidebar__item"
        (click)="toggleCategory('census')"
      >
        <svg class="lls-icon lls-icon--left u-mr-2">
          <use [attr.href]="featherIconPath + '#' + eventIcon('census')"></use>
        </svg>
        Folketællinger ({{ filtersCategories.census.length }})
        <svg class="lls-filter-sidebar__option-icon lls-filter-sidebar__option-icon--right lls-icon">
          <use [attr.href]="featherIconPath + '#arrow-right'"></use>
        </svg>
      </button>
    </ng-container>
    <ng-container *ngIf="sidebarCategoryOpen === 'burials'">
      <button
        *ngFor="let option of filtersCategories.burials, index as i"
        class="lls-filter-sidebar__option lls-sidebar__item"
        (click)="addFilter(option)"
        [class]="activeFilter(option.value) ? 'lls-filter-sidebar__option--active' : ''"
      >
        <svg class="lls-icon lls-icon--left u-mr-2">
          <use [attr.href]="featherIconPath + '#' + option.icon"></use>
        </svg>
        {{ option.label }} ({{ option.count }})
        <svg class="lls-filter-sidebar__option-icon lls-filter-sidebar__option-icon--right lls-filter-sidebar__option-icon--delete lls-icon">
          <use [attr.href]="featherIconPath + '#x'"></use>
        </svg>
      </button>
    </ng-container>
    <ng-container *ngIf="sidebarCategoryOpen === 'census'">
      <button
        *ngFor="let option of filtersCategories.census, index as i"
        class="lls-filter-sidebar__option lls-sidebar__item"
        (click)="addFilter(option)"
        [class]="activeFilter(option.value) ? 'lls-filter-sidebar__option--active' : ''"
      >
        <svg class="lls-icon lls-icon--left u-mr-2">
          <use [attr.href]="featherIconPath + '#' + option.icon"></use>
        </svg>
        {{ option.label }} ({{ option.count }})
        <svg class="lls-filter-sidebar__option-icon lls-filter-sidebar__option-icon--right lls-filter-sidebar__option-icon--delete lls-icon">
          <use [attr.href]="featherIconPath + '#x'"></use>
        </svg>
      </button>
    </ng-container>
  </div>
</aside>
