<div
  [class]="openSidebar ? 'lls-overlay' : ''"
  (click)="close()"
></div>
<aside class="lls-filter-sidebar lls-sidebar" [class]="openSidebar ? 'lls-sidebar--open' : ''">
  <div class="lls-sidebar__header">
    <h3 class="u-margin-0">Alle filtre</h3>
    <button
      [tabindex]="openSidebar ? 0 : -1"
      class="lls-btn lls-btn--outline"
      (click)="close()"
    >
      <span>Luk</span>
      <svg class="lls-icon lls-filter-sidebar__option-item--right">
        <use [attr.href]="featherIconPath + '#x'"></use>
      </svg>
    </button>
  </div>
  <ng-container *ngFor="let filterType of filterTypes">
    <div class="lls-filter-sidebar__options" *ngIf="!yearFilterTypes.includes(filterType)">
      <div class="lls-sidebar__subheader">
        <button
          class="lls-filter-sidebar__option lls-sidebar__item"
          [tabindex]="openSidebar ? 0 : -1"
          (click)="toggleCategory(filterType)"
        >
          {{filterTitle(filterType)}}
          <svg class="lls-filter-sidebar__option-icon lls-icon">
            <use [attr.href]="featherIconPath + '#arrow-right'"></use>
          </svg>
        </button>
      </div>
      <ng-container *ngIf="sidebarCategoryOpen[filterType]">
        <button
          *ngFor="let option of filtersCategories(filterType), index as i"
          class="lls-filter-sidebar__option lls-sidebar__item"
          [class]="activeFilter(option.value) ? 'lls-filter-sidebar__option--active' : ''"
          [tabindex]="openSidebar ? 0 : -1"
          (click)="addFilter(option)"
        >
          <svg class="lls-icon lls-icon--left u-mr-2">
            <use [attr.href]="featherIconPath + '#' + (activeFilter(option.value) ? 'check-square' : 'square')"></use>
          </svg>
          {{ option.label }}
          <span class="lls-filter-sidebar__option-count lls-filter-sidebar__option-item--right">
            {{ option.count }}
          </span>
        </button>
      </ng-container>
    </div>
  </ng-container>

  <!-- year filters -->

  <ng-container>
    <div class="lls-sidebar__subheader">
      <button
        class="lls-filter-sidebar__option lls-sidebar__item"
        [tabindex]="openSidebar ? 0 : -1"
        (click)="yearCategoryOpen = !yearCategoryOpen"
      >
        År
        <svg class="lls-filter-sidebar__option-icon lls-icon">
          <use [attr.href]="featherIconPath + '#arrow-right'"></use>
        </svg>
      </button>
    </div>
    <ng-container *ngIf="yearCategoryOpen">
      <ng-container *ngFor="let filterType of yearFilterTypes">
        <div class="lls-filter-sidebar__options u-ml-4">
          <div class="lls-sidebar__subheader">
            <button
              class="lls-filter-sidebar__option lls-sidebar__item"
              [tabindex]="openSidebar ? 0 : -1"
              (click)="toggleCategory(filterType)"
            >
              {{filterTitle(filterType)}}
              <svg class="lls-filter-sidebar__option-icon lls-icon">
                <use [attr.href]="featherIconPath + '#arrow-right'"></use>
              </svg>
            </button>
          </div>
          <ng-container *ngIf="sidebarCategoryOpen[filterType]">
            <button
              *ngFor="let option of filtersCategories(filterType), index as i"
              class="lls-filter-sidebar__option lls-sidebar__item"
              [class]="activeFilter(option.value) ? 'lls-filter-sidebar__option--active' : ''"
              [tabindex]="openSidebar ? 0 : -1"
              (click)="addFilter(option)"
            >
              <svg class="lls-icon lls-icon--left u-mr-2">
                <use [attr.href]="featherIconPath + '#' + (activeFilter(option.value) ? 'check-square' : 'square')"></use>
              </svg>
              {{ option.label }}
              <span class="lls-filter-sidebar__option-count lls-filter-sidebar__option-item--right">
                {{ option.count }}
              </span>
            </button>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</aside>
