<div
  [class]="openSidebar ? 'lls-overlay' : ''"
  (click)="close()"
></div>
<aside class="lls-filter-sidebar lls-sidebar" [class]="openSidebar ? 'lls-sidebar--open' : ''">
  <div class="lls-sidebar__header">
    <h3 class="u-margin-0">Alle filtre</h3>
    <button
      [tabindex]="openSidebar ? 0 : -1"
      class="lls-btn lls-btn--outline"
      (click)="close()"
    >
      <span>Luk</span>
      <svg class="lls-icon lls-filter-sidebar__option-item--right">
        <use [attr.href]="featherIconPath + '#x'"></use>
      </svg>
    </button>
  </div>
  <div class="lls-sidebar__subheader">
    <h4>Hændelser</h4>
  </div>
  <div class="lls-filter-sidebar__options">
    <button
      *ngIf="sidebarCategoryOpen"
      class="lls-filter-sidebar__option lls-sidebar__item"
      [tabindex]="openSidebar ? 0 : -1"
      (click)="toggleCategory('')"
    >
    <svg class="lls-filter-sidebar__option-icon lls-icon">
      <use [attr.href]="featherIconPath + '#arrow-left'"></use>
    </svg>
      Tilbage
    </button>
    <ng-container *ngFor="let category of filtersCategories | keyvalue">
      <ng-container *ngIf="!sidebarCategoryOpen">
        <button
          class="lls-filter-sidebar__option lls-sidebar__item"
          [tabindex]="openSidebar ? 0 : -1"
          (click)="toggleCategory(category.key)"
         >
          <svg class="lls-icon lls-icon--left u-mr-2">
            <use [attr.href]="featherIconPath + '#' + eventIcon(category.key)"></use>
          </svg>
          {{ category.value.display }}
          <span class="lls-filter-sidebar__option-count">{{'\u00A0'}} ({{ filtersCategories[category.key].filters.length }})</span>
          <svg class="lls-filter-sidebar__option-icon lls-filter-sidebar__option-item--right lls-icon">
            <use [attr.href]="featherIconPath + '#arrow-right'"></use>
          </svg>
        </button>
      </ng-container>
      <ng-container *ngIf="sidebarCategoryOpen === category.key">
        <button
          *ngFor="let option of category.value.filters, index as i"
          class="lls-filter-sidebar__option lls-sidebar__item"
          [class]="activeFilter(option.value) ? 'lls-filter-sidebar__option--active' : ''"
          [tabindex]="openSidebar ? 0 : -1"
          (click)="addFilter(option)"
        >
          <svg class="lls-icon lls-icon--left u-mr-2">
            <use [attr.href]="featherIconPath + '#' + (activeFilter(option.value) ? 'check-square' : 'square')"></use>
          </svg>
          {{ option.label }}
          <span class="lls-filter-sidebar__option-count lls-filter-sidebar__option-item--right">
            {{ option.count }}
          </span>
        </button>
      </ng-container>
    </ng-container>
  </div>
</aside>
