<div
    [class]="openSearchHistory ? 'lls-overlay' : ''"
    (click)="closeSearchHistory()"
></div>
<aside class="lls-search-history lls-sidebar lls-sidebar--sticky-header lls-sidebar--right" [class]="openSearchHistory ? 'lls-sidebar--open' : ''">
    <div class="lls-sidebar__header">
        <h3 class="u-margin-0">
            Min Søgehistorik
        </h3>
        <button
          class="lls-btn lls-btn--outline"
          [tabIndex]="openSearchHistory ? 0 : -1"
          (click)="closeSearchHistory()"
        >
          <span>Luk</span>
          <svg class="lls-icon lls-icon--right">
            <use [attr.href]="featherIconPath + '#x'"></use>
          </svg>
        </button>
    </div>
    <ng-container
        *ngFor="let entry of searchHistory"
        [ngSwitch]="entry.type">
        <a
            *ngSwitchCase="'search_result'"
            class="lls-sidebar__item lls-sidebar__item--link lls-search-history__item lls-search-history__item-link"
            [tabIndex]="openSearchHistory ? 0 : -1"
            [routerLink]="['/results']"
            [queryParams]="queryParams(entry)"
            (click)="closeSearchHistory()"
        >
            <div>
                <h3 class="lls-search-history__item-header">
                    <svg class="lls-icon lls-icon--left u-mr-2">
                        <use [attr.href]="featherIconPath + '#search'"></use>
                    </svg>
                    <span>Søgeresultat</span>
                </h3>
                <ng-container *ngFor="let key of queryKeys(entry)">
                    <p class="u-margin-0" *ngIf="key != 'index'">
                        <strong class="u-mr-2">{{ searchFieldLabels[key] }}</strong> {{ entry.query[key] }}
                    </p>
                </ng-container>
            </div>
        </a>
        <a
            *ngSwitchCase="'lifecourse'"
            class="lls-sidebar__item lls-sidebar__item--link lls-search-history__item lls-search-history__item-link"
            [tabIndex]="openSearchHistory ? 0 : -1"
            [routerLink]="['/life-course', entry.lifecourse.key]"
            (click)="closeSearchHistory()"
        >
            <div>
                <h3 class="lls-search-history__item-header">
                    <div class="lls-search-history__source-count u-mr-2">
                        <svg class="lls-icon lls-icon--left">
                            <use [attr.href]="featherIconPath + '#circle'"></use>
                        </svg>
                        <span class="lls-search-history__source-number">
                            {{ entry.lifecourse.personAppearances.length }}
                        </span>
                    </div>
                    <span>
                        Livsforløb {{ prettyYearRange(entry.lifecourse.personAppearances) }}
                    </span>
                </h3>
                <p class="u-text-capitalize u-margin-0">
                    <strong class="u-mr-2">Navn</strong> {{ entry.lifecourse.personAppearances[entry.lifecourse.personAppearances.length - 1].name_display }}
                </p>
                <p class="u-margin-0">
                    <strong class="u-mr-2">Født</strong> {{ entry.lifecourse.personAppearances[entry.lifecourse.personAppearances.length - 1].birthyear_display }}
                </p>
                <p class="u-text-capitalize u-margin-0">
                    <strong class="u-mr-2">Fødested</strong> {{ entry.lifecourse.personAppearances[0].birthplace_display }}
                </p>
            </div>
        </a>
        <a
            *ngSwitchCase="'census'"
            class="lls-sidebar__item lls-sidebar__item--link lls-search-history__item lls-search-history__item-link"
            [tabIndex]="openSearchHistory ? 0 : -1"
            [routerLink]="['/pa', entry.personAppearance.key]"
            (click)="closeSearchHistory()"
        >
            <div>
                <h3 class="lls-search-history__item-header">
                    <svg class="lls-icon lls-icon--left u-mr-2">
                        <use [attr.href]="featherIconPath + '#' + eventIcon(entry.personAppearance.standard.event_type)"></use>
                    </svg>
                    <span>
                        {{ entry.personAppearance.event_type_display }} {{ entry.personAppearance.sourceyear_display }}
                    </span>
                </h3>
                <p class="u-text-capitalize u-margin-0" *ngIf="entry.personAppearance.name_display">
                    <strong class="u-mr-2">Navn</strong> {{ entry.personAppearance.name_display }}
                </p>
                <p class="u-margin-0" *ngIf="entry.personAppearance.birthyear_display">
                    <strong class="u-mr-2">Født</strong> {{ entry.personAppearance.birthyear_display }}
                </p>
                <p class="u-text-capitalize u-margin-0" *ngIf="entry.personAppearance.birthplace_display">
                    <strong class="u-mr-2">Fødested</strong> {{ entry.personAppearance.birthplace_display }}
                </p>
            </div>
        </a>
    </ng-container>
</aside>

