<input type="hidden" [value]="value" [name]="name">

<div class="lls-dropdown__current-item">
  <div class="lls-dropdown__label" *ngIf="!currentOptionLabel || !showCurrentValue">
    {{ label }}
  </div>
  <div *ngIf="showCurrentValue && currentOptionLabel">
    {{ currentOptionLabel }}
  </div>
  <div *ngIf="featherIconPath">
    <svg class="lls-icon lls-icon--right">
      <use [attr.href]="featherIconPath + '#' + (isOpen ? (dropdownIconOpen || 'chevron-up') : (dropdownIcon || 'chevron-down'))"></use>
    </svg>
  </div>
</div>

<div class="lls-dropdown__option-list" [class]="isOpen ? 'lls-dropdown__option-list--open' : ''">
  <div
    [class]="(option.category ? 'lls-dropdown__category' : 'lls-dropdown__option') + ' ' + ((option.value && option.value == _value) ? 'lls-dropdown__option--selected' : '') + ' ' + (option.disabled ? 'lls-dropdown__option--disabled' : '')"
    *ngFor="let option of options; index as i;"
    (click)="onOptionClick(option, $event)"
    (blur)="onBlur()"
    tabindex="-1"
    data-lls-dropdown-entry
  >
    {{ option.label || option.category }}
  </div>
</div>
