<div class="lls-source" [class]="computedClass">
    <div class="lls-source__header lls-source__section">
        <div class="lls-source__symbol">
            <svg class="lls-icon">
                <use [attr.href]="featherSpriteUrl + '#' + eventIcon"></use>
            </svg>
        </div>
        <h3 class="lls-source__title">
            {{ personAppearance.event_type_display }}
        </h3>
        <p *ngIf="personAppearance.event_year_display" class="u-margin-0">
            {{ personAppearance.event_year_display }}
        </p>
    </div>
    
    <div class="lls-source__section lls-source__section--bordered">
        <p class="lls-source__subtitle u-text-capitalize" *ngIf="personAppearance.role_display">
            {{ personAppearance.role_display }}
        </p>
        <div class="lls-source__person">
            <p
                class="lls-source__person-name u-bold u-text-capitalize"
                [attr.title]="showTitleOnName ? personAppearance.name_display : null"
            >
                {{ personAppearance.name_display }}
            </p>
            <p class="lls-source__person-age">
                <ng-container *ngIf="personAppearance.birthyear_display">
                    <svg class="lls-icon lls-icon--filled lls-icon--small lls-icon--left">
                        <use [attr.href]="featherSpriteUrl + '#star'"></use>
                    </svg>
                    {{ personAppearance.birthyear_display }}
                </ng-container>
                <ng-container *ngIf="personAppearance.deathyear_display">
                    <svg class="lls-icon lls-icon--filled lls-icon--small lls-icon--left u-ml-2">
                        <use [attr.href]="featherSpriteUrl + '#ll-dead'"></use>
                    </svg>
                    {{ personAppearance.deathyear_display }}
                </ng-container>
            </p>
        </div>
        <p *ngIf="personAppearance.occupation_display">
            {{ personAppearance.occupation_display }}
        </p>
        <p class="u-text-capitalize u-margin-0" *ngIf="personAppearance.birthplace_display">
            {{ personAppearance.birthplace_display }}
        </p>
    </div>

    <div class="lls-source__section">
        <p class="lls-source__subtitle">Registrering</p>
        <p class="u-margin-0">
            {{ personAppearance.source_type_display }} {{ personAppearance.source_year_display }}
        </p>
        <p class="u-text-capitalize u-margin-0">
            {{ personAppearance.sourceplace_display }}
        </p>
    </div>
    
    <div class="lls-source__section lls-source__section--cta">
        <div *ngIf="!selected">
            <a [routerLink]="['/pa', personAppearance.id]" class="lls-btn lls-btn--link">
                <span>Se data</span>
                <svg class="lls-icon lls-icon--right">
                    <use [attr.href]="featherSpriteUrl + '#arrow-right'"></use>
                </svg>
            </a>
        </div>
        <div *ngIf="selected">
            <svg class="lls-icon lls-icon--large" [class]="'lls-icon--' + personAppearance.event_type">
                <use [attr.href]="featherSpriteUrl + '#flag'"></use>
            </svg>
        </div>
    </div>
</div>
