<style>
.person-appearance-header h1 {
    font-size: 3.125rem;
}
.person-appearance-header {
    display: flex;
    justify-content: space-between;
}
.person-appearance-classification__source-type {
    font-family: notera;
    font-size: 2.475rem;
    margin: 0 0 -0.75rem;
}
.person-appearance-classification__data-summary {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5rem;
    font-size: 1.25rem;
    font-weight: 400;
    text-transform: capitalize;
}
.person-appearance-classification__data-summary > * {
    margin: 0 0.5rem;
}
.header__utility-links {
    font-size: 1rem;
    font-weight: 400;
}

.data-section h2 {
    font-family: founders, Helvetica, Arial, sans-serif;
    font-size: 1.25em;
}

.data-section table {
    border-top: 1px solid rgb(213, 213, 213);
    font-size: 1.0625rem;
    margin: 1.25rem 0 5rem;
    width: 100%;
}
.data-section table tr {
    border-bottom: 1px solid rgb(213, 213, 213);
}
.data-section table tr, .data-section table td {
    padding: 0.75rem 0;
}
.data-section table th {
    font-weight: 400;
    padding-right: 1rem;
    width: 33%;
}

.person-appearance-footer__entry {
    font-size: 1rem;
    font-weight: 400;
}
.person-appearance-footer__entry-label {
    color: rgb(97, 97, 97);
    font-size: 0.875rem;
}

.lls-card__action-hint {
    padding: 0.25rem 0;
    font-size: 0.875rem;
}
</style>

<div class="lls-container mt-5">
    <div class="person-appearance-header">
        <div class="person-appearance-classification">
            <div class="person-appearance-classification__source-type">Kilde</div>
            <h1>Folketælling</h1>
            <div class="person-appearance-classification__data-summary">
                <span>{{ sourceLocation }}</span>
                <span>{{ pa.source_year }}</span>
            </div>
        </div>
        <div class="header__utility-links">
            <a routerLink="/user/search-history">
                <span>Min søgehistorik</span>
                <svg class="lls-icon lls-icon--right">
                    <use [attr.href]="featherSpriteUrl + '#folder'"></use>
                </svg>
            </a>
        </div>
    </div>

    <div class="lls-card lls-card--census">
        <div class="lls-row lls-row--gap-3--md lls-row--gap-5--lg lls-row--gap-6--xl">
            <div class="lls-columns-12 lls-columns-6--md">
                <div class="data-section">
                    <h2>Original komplet indtastning</h2>
                    <table>
                        <tr *ngFor="let line of originalDataLines">
                            <th>{{ line.label }}</th>
                            <td>{{ line.value || '—' }}</td>
                        </tr>
                    </table>
                </div>
                <div class="data-section">
                    <h2>Processeret data brugt til linking</h2>
                    <table>
                        <tr *ngFor="let line of standardizedDataLines">
                            <th>{{ line.label }}</th>
                            <td>{{ line.value || '—' }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="lls-columns-12 lls-columns-6--md">
                <div class="data-section">
                    <h2>Om kilden</h2>
                    <table>
                        <tr *ngFor="let line of sourceDataLines">
                            <th>{{ line.label }}</th>
                            <td>{{ line.value || '—' }}</td>
                        </tr>
                    </table>
                </div>
                <!--div class="data-section">
                    <h2>Anden data (rå)</h2>
                    <table>
                        <tr *ngFor="let line of otherDataLines">
                            <th>{{ line.label }}</th>
                            <td>{{ line.value || '—' }}</td>
                        </tr>
                    </table>
                </div-->
            </div>
        </div>
        <div class="lls-card__actions">
            <a class="lls-btn lls-btn--big lls-btn--disabled" tabindex="0">
                <span>Se original kilde</span>
                <svg class="lls-icon lls-icon--right">
                    <use [attr.href]="featherSpriteUrl + '#search'"></use>
                </svg>
            </a>
        </div>
        <div class="lls-card__action-hint">
            Rigsarkivet giver ikke mulighed for direkte links til de originale kilder.
        </div>
    </div>

    <div class="person-appearance-footer">
        <div class="person-appearance-footer__entry">
            <div class="person-appearance-footer__entry-label">Kilde ID</div>
            <a href="pa/{{ this.pa.id }}">{{ this.pa.id }}</a>
        </div>
        <!--div class="person-appearance-footer__entry">
            <div class="person-appearance-footer__entry-label">Senest opdateret</div>
        </div-->
    </div>
</div>
