<div class="lls-container mt-5">
    <div class="lls-data-page-header">
        <div class="lls-data-page-header__utility-links">
            <a
                class="lls-data-page-header__utility-link u-mr-2"
                [routerLink]="['/results']"
                [queryParams]="getLatestSearchQuery()"
            >
                Tilbage til søgeresultat
            </a>
            <a
                class="lls-data-page-header__utility-link"
                (click)="openSearchHistory = true"
                (keyup.enter)="openSearchHistory = true"
                tabindex="0"
            >
                Min søgehistorik
            </a>
        </div>
        <div class="lls-data-page-header__classification">
            <div class="lls-data-page-header__source-type">Kilde</div>
            <h1 class="lls-data-page-header__title">{{ eventType }} {{ pa.source_year }}</h1>
            <div class="lls-data-page-header__data-summary">
                <span class="u-text-capitalize">{{ sourceLocation }}</span>
            </div>
        </div>
    </div>
    <app-search-history
        [openSearchHistory]="openSearchHistory"
        [featherIconPath]="featherSpriteUrl"
        (close)="openSearchHistory = false"
    ></app-search-history>

    <div class="lls-tabs">
        <a href routerLink="source-data" [routerLinkActive]="'lls-tabs__item--active'" class="lls-tabs__item">
            <span class="lls-tabs__item-text">Kildeinfo</span>
        </a>
        <a href routerLink="related-people" [routerLinkActive]="'lls-tabs__item--active'" class="lls-tabs__item" *ngIf="this.hh">
            <span class="lls-tabs__item-text">Relaterede personer</span>
        </a>
    </div>

    <router-outlet></router-outlet>

    <div class="lls-data-page-footer">
        <div class="lls-data-page-footer__entry">
            <div class="lls-data-page-footer__entry-label">Kilde ID</div>
            <a href="pa/{{ pa.id }}">{{ this.pa.id }}</a>
        </div>
        <div class="lls-data-page-footer__entry">
            <div class="lls-data-page-footer__entry-label">Senest opdateret</div>
            <span>{{ prettyLastUpdatedDate }}</span>
        </div>
    </div>
</div>
