<div class="lls-source lls-source--census">
    <div class="lls-source__section">
        <h3 class="lls-source__title">
            Folketæling
        </h3>
        <p *ngIf="personAppearance.source_year" class="u-margin-0">{{ personAppearance.source_year }}</p>
    </div>
    
    <div class="lls-source__section lls-source__section--bordered">
        <div>
            <div class="u-text-capitalize">
                <p class="lls-source__subtitle">{{ personAppearance.household_position_std }}</p>
                <div class="lls-source__person">
                    <p class="lls-source__person-name u-bold">
                        {{ personAppearance.name_clean }}
                    </p>
                    <p class="lls-source__person-age">
                        <svg class="lls-icon lls-icon--filled lls-icon--small lls-icon--left">
                            <use [attr.href]="featherSpriteUrl + '#star'"></use>
                        </svg>
                        ~{{ personAppearance.source_year - personAppearance.age_clean }}
                    </p>
                </div>
                <p *ngIf="personAppearance.occupation">{{ personAppearance.occupation }}</p>
            </div>
        </div>
        <div>
            <p class="u-text-capitalize u-margin-0" *ngIf="birthLocation">
                {{ birthLocation }}
            </p>
        </div>
    </div>

    <div class="lls-source__section">
        <p class="lls-source__subtitle">Kilde</p>
        <p class="u-margin-0">Folketæling {{ personAppearance.source_year }}</p>
        <p class="u-text-capitalize u-margin-0">
            {{ sourceLocation }}
        </p>
    </div>
    
    <div class="lls-source__section lls-source__section--cta">
        <div>
            <a [routerLink]="['/pa', personAppearance.source_id + '-' + personAppearance.pa_id]" class="lls-btn">Se kilde</a>
        </div>
    </div>
</div>
