<div class="lls-card" [class]="'lls-card--' + pa.event_type">
    <div class="lls-row lls-row--gap-3--md lls-row--gap-5--lg lls-row--gap-6--xl">
        <div class="lls-columns-12 lls-columns-6--md">
            <div class="data-section">
                <h2>Original komplet indtastning</h2>
                <table>
                    <tr *ngFor="let line of originalDataLines">
                        <th>{{ line.label }}</th>
                        <td>{{ line.value || '—' }}</td>
                    </tr>
                </table>
            </div>
            <div class="data-section">
                <h2>Processeret data brugt til linking</h2>
                <table>
                    <tr *ngFor="let line of standardizedDataLines">
                        <th>{{ line.label }}</th>
                        <td>{{ line.value || '—' }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="lls-columns-12 lls-columns-6--md">
            <div class="data-section">
                <h2>Om kilden</h2>
                <table>
                    <tr *ngFor="let line of sourceDataLines">
                        <th>{{ line.label }}</th>
                        <td>{{ line.value || '—' }}</td>
                    </tr>
                </table>
            </div>
            <!--div class="data-section">
                <h2>Anden data (rå)</h2>
                <table>
                    <tr *ngFor="let line of otherDataLines">
                        <th>{{ line.label }}</th>
                        <td>{{ line.value || '—' }}</td>
                    </tr>
                </table>
            </div-->
        </div>
    </div>
    <div class="lls-card__actions">
        <a
            class="lls-btn lls-btn--big"
            [class]="pa.pa_entry_permalink ? '' : 'lls-btn--disabled'"
            [attr.href]="pa.pa_entry_permalink ? pa.pa_entry_permalink : null"
            [attr.tabindex]="pa.pa_entry_permalink ? null : -1"
            target="_blank"
            rel="noopener"
        >
            <span>Se original kilde</span>
            <svg class="lls-icon lls-icon--right">
                <use [attr.href]="featherSpriteUrl + '#search'"></use>
            </svg>
        </a>
    </div>
    <div class="lls-card__action-hint" *ngIf="!pa.pa_entry_permalink">
        Det er på nuværende tidspunkt ikke muligt at linke direkte til kilden hos Rigsarkivet
    </div>
</div>
