<section class="lls-row pt-4">
    <app-person-appearance-item
        [item]="pa"
        class="lls-columns-12"
        [selected]="true"
    ></app-person-appearance-item>
</section>

<div class="lls-card lls-card--source-data">
            <div class="data-section">
                <h2 class="data-section__header">
                    Original indtastning
                </h2>
                <table class="data-section__table">
                    <!-- First two trs give us border-top on the columns -->
                    <tr style="grid-column: 1 / 2;"></tr>
                    <tr style="grid-column: 2 / 3;"></tr>
                    <tr *ngFor="let line of originalDataLines; index as i;" [style]="i < originalDataLines.length / 2 ? 'grid-column: 1 / 2;' : 'grid-column: 2 / 3;'">
                        <th>{{ line.label }}</th>
                        <td>{{ line.value || '—' }}</td>
                    </tr>
                </table>
            </div>

    <div class="lls-card__actions">
        <a
            class="lls-btn"
            [class]="pa.pa_entry_permalink_wp4 ? '' : 'lls-btn--disabled'"
            [attr.href]="pa.pa_entry_permalink_wp4 ? pa.pa_entry_permalink_wp4 : null"
            [attr.tabindex]="pa.pa_entry_permalink_wp4 ? null : -1"
            target="_blank"
            rel="noopener"
        >
            <span>Se original kilde</span>
            <svg class="lls-icon lls-icon--right">
                <use [attr.href]="featherSpriteUrl + '#arrow-right'"></use>
            </svg>
        </a>
        <div class="lls-card__action-hint" *ngIf="!pa.pa_entry_permalink_wp4">
            Det er på nuværende tidspunkt ikke muligt at linke direkte til kilden hos {{ source.institution }}
        </div>
    </div>

            <div class="data-section">
                <h2 class="data-section__header">
                    Bearbejdet data brugt til at linke
                </h2>
                <table class="data-section__table">
                    <tr *ngFor="let line of standardizedDataLines">
                        <th>{{ line.label }}</th>
                        <td>{{ line.value || '—' }}</td>
                    </tr>
                </table>
            </div>
</div>
