<div
    [class]="openLinkRating ? 'lls-overlay' : ''"
    (click)="closeLinkRating()"
></div>
<div [class]="openLinkRating ? 'lls-modal' : 'u-hide'">

  <!-- link rating form -->
  <ng-container *ngIf="showForm && canRateLink">
    <div class="lls-sidebar__header u-margin-0">
      <h3 class="u-margin-0">
          Er linket troværdigt?
      </h3>
      <button
        class="lls-btn lls-btn--outline"
        [tabIndex]="openLinkRating ? 0 : -1"
        (click)="closeLinkRating()"
      >
        <span>Luk</span>
        <svg class="lls-icon lls-icon--right">
          <use [attr.href]="featherIconPath + '#x'"></use>
        </svg>
      </button>
    </div>
    <form [formGroup]="linkRatingForm" (ngSubmit)="onSubmit()">
      <div *ngFor="let optionGroup of ratingOptions" class="u-mt-4">
        <h4>
          {{ optionGroup.category }}
        </h4>
        <div *ngFor="let option of optionGroup.options">
          <label class="u-text-small u-flex u-align-items u-direction-row">
            <input type="radio"
              [value]="option.value"
              name="option"
              formControlName="option"
              class="u-mr-2"
            >
            {{ option.label }}
          </label>
        </div>
      </div>
      <div class="u-flex u-align-items u-mt-4">
        <button *ngIf="user" class="lls-btn lls-btn--small lls-btn--blue u-mr-2" type="submit">Giv feedback</button>
        <button
          class="lls-btn lls-btn--small u-mr-2"
          (click)="login()"
          type='button'
          *ngIf="!user"
        >
          Log ind for at bedømme
        </button>
        <p class="u-text-small u-margin-0">{{ totalRatings }} brugere har givet feedback</p>
      </div>
    </form>
    <span class="u-mt-4">
      <a class="lls-link" href="https://link-lives.dk/goer-livsforloeb-bedre-ved-at-give-feedback/">
        Vejledning: Hvordan bruger vi din feedback og hvordan bedømmer du et link?
      </a>
    </span>
  </ng-container>

  <!-- feedback page -->
  <ng-container *ngIf="!showForm || !canRateLink">
    <div class="lls-sidebar__header u-margin-0">
      <h3 class="u-margin-0">
          {{ canRateLink ? 'Tak for din feedback' : 'Du har tidligere bedømt linket' }}
      </h3>
      <button
        class="lls-btn lls-btn--outline"
        [tabIndex]="openLinkRating ? 0 : -1"
        (click)="closeLinkRating()"
      >
        <span>Luk</span>
        <svg class="lls-icon lls-icon--right">
          <use [attr.href]="featherIconPath + '#x'"></use>
        </svg>
      </button>
    </div>
    <p>
      Her er hvad du og de {{ totalRatings - 1 }} brugere har svaret.
    </p>
      <div *ngFor="let ratingCount of ratingCategoriesWithCount | keyvalue">
        <div class="u-flex u-space-between u-align-items u-mt-4">
          <h4 class='u-margin-0'>
            {{ ratingCount.key }}
          </h4>
          <p *ngIf="chosen == ratingCount.key" class="u-text-grey--light u-text-very-small u-margin-0">
            Du har stemt her
          </p>
          <p class='u-margin-0'>
            {{ percent(ratingCount.value) }}%
          </p>
        </div>
        <progress class="lls-progress" id="file" [max]="totalRatings" [value]="ratingCount.value"></progress>
      </div>
    <span>
      <a class="lls-link" href="https://link-lives.dk/goer-livsforloeb-bedre-ved-at-give-feedback/">
        Vejledning: Hvordan bruger vi din feedback og hvordan bedømmer du et link?
      </a>
    </span>
  </ng-container>
</div>
