<div
    [class]="openLinkRating ? 'lls-overlay' : ''"
    (click)="closeLinkRating()"
></div>
<div [class]="openLinkRating ? 'lls-loading-overlay' : 'u-hide'">
  <div class="lls-sidebar__header">
    <h3 class="u-margin-0">
        Er linket troværdigt?
    </h3>
    <button
      class="lls-btn lls-btn--outline"
      [tabIndex]="openLinkRating ? 0 : -1"
      (click)="closeLinkRating()"
    >
      <span>Luk</span>
      <!-- <svg class="lls-icon lls-icon--right">
        <use [attr.href]="featherIconPath + '#x'"></use>
      </svg> -->
    </button>
  </div>
  <form [formGroup]="linkRatingForm" (ngSubmit)="onSubmit()">
    <div *ngFor="let optionCategory of linkOptions">
      <h4>
        {{optionCategory.title}}
      </h4>
      <div *ngFor="let option of optionCategory.options">
        <label>
          <input type="radio"
            [value]="option.value"
            name="option"
            formControlName="option"
            class="u-mr-2"
          >
          {{ option.label }}
        </label>
      </div>
    </div>
    <span>
      <button class="lls-btn lls-btn--small lls-btn--blue" type="submit"> Giv feedback</button>
      <p>{{ numberOfRatings }} brugere har givet feedback</p>
    </span>
  </form>
  <span>
    Hvordan bruger vi din feedback og hvordan bedømmes dine links?
    <a class="lls-link" href="/docs/Web/SVG/Element/text">
      Læs mere her
    </a>
  </span>
</div>
