<style>
.search-intro {
  display: flex;
  margin: 0 4rem;
}
.search-intro--header {
  flex-shrink: 0;
  flex-grow: 1;
  font-size: 3em;
}
.search-intro--text {
  flex-basis: 600px;
  flex-grow: 0;
}
.text-link {
  display: inline-flex;
  font-weight: 500;
  border-bottom: 1px solid transparent;
  transition: border-color 0.4s;
  align-items: center;
}
.text-link:hover {
  text-decoration: none;
  border-bottom-color: black;
}
.text-link .icon {
  width: 1.2rem;
  height: 1.2rem;
  transform: translateY(0.1rem);
}
.text-link .icon.right {
  margin-left: 0.5rem;
}
.btn-black {
  display: inline-flex;
  align-items: center;
  color: white;
  background: black;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 0.95rem;
  font-weight: 600;
  padding: 0 1.5rem;
  font-family: founders, Helvetica, Arial, sans-serif;
  letter-spacing: 0.1rem;
}
.btn-right {
  border-radius: 0 3px 3px 0;
}
.btn-black .icon {
  width: 1rem;
  height: 1rem;
}
.btn-black .icon.right {
  margin-left: 0.5rem;
}
.card {
  background: white;
  box-shadow: 0 0 2px rgba(0,0,0,0.05);
  padding: 4rem;
  margin: 3rem 0;
}
.card--title {
  font-size: 1.375rem;
  margin-bottom: 1.375rem;
}
.input-group {
  display: flex;
}
.card .input-group {
  width: 66%;
}
.input-field {
  padding: 1rem 1.4rem;
  border: 1px solid #bbb;
  border-radius: 3px;
  flex-grow: 1;
}
.input-field-left {
  border-radius: 3px 0 0 3px;
}
</style>

<div class="container-fluid mt-5">
  <div class="search-intro">
    <h2 class="search-intro--header">
      Find livsforløb<br>
      1787&ndash;1901
    </h2>
    <div class="search-intro--text">
      <p>
        Et livsforløb er et kvalificeret forslag til hvilke historiske kilder, der omhandler den samme person.
        Vi tilføjer løbende flere livsforløb og der kan komme flere detaljer på et livsforløb.
      </p>
      <a href="#" class="search-intro--text-link text-link">
        <span>Læs mere om livsforløb</span>
        <svg class="icon right">
          <use xlink:href="/assets/feather-sprite_cbef33d2.svg#arrow-right"></use>
        </svg>
      </a>
    </div>
    <div style="flex-grow: 1; flex-shrink: 0; text-align: right;">
      <h3 style="font-size: 4em;">Beta</h3>
    </div>
  </div>
  <div class="card">
    <h3 class="card--title">Fritekstsøgning</h3>
    <div class="input-group">
      <input
        type="text"
        placeholder="Søg i livsforløb eller kilder"
        class="input-field input-field-left"
      />
      <button
        type="submit"
        class="btn-black btn-right"
      >
        <span>Søg</span>
        <svg class="icon right">
          <use xlink:href="/assets/feather-sprite_cbef33d2.svg#search"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="row">
    <ul class="nav nav-tabs col-12">
      <li class="nav-item">
        <a class="nav-link" routerLink="simple" routerLinkActive="active">Simpel søgning</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="advanced" routerLinkActive="active">Avanceret søgning</a>
      </li>
    </ul>
  </div>
  <div class="row border border-top-0">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>