<div class="container-fluid mt-5">
  <div class="row">
    <h2>Find livsforløb 1787&ndash;1901 &mdash; BETA</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Etiam vestibulum est nec placerat pretium.
      Proin arcu elit, cursus id enim non, rutrum mollis urna. In hac habitasse platea dictumst.
      Fusce a dolor aliquam, pharetra sapien vel, mattis mi.
    </p>
    <p>
      Ut nisl lacus, lacinia vitae suscipit eget, efficitur ut dolor.
      Duis gravida eget nisi ac feugiat. Sed tortor orci, semper nec odio rutrum, mollis rhoncus velit.
    </p>
  </div>
  <div class="row">
    <ul class="nav nav-tabs col-12">
      <li class="nav-item">
        <a class="nav-link" routerLink="simple" routerLinkActive="active">Simpel søgning</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="advanced" routerLinkActive="active">Avanceret søgning</a>
      </li>
    </ul>
  </div>
  <div class="row border border-top-0">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>