<div class="container-fluid mt-5">
  <div style="display: flex; margin: 0 4rem;">
    <h2 style="flex-shrink: 0; flex-grow: 1; font-size: 3em;">
      Find livsforløb<br>
      1787&ndash;1901
    </h2>
    <div style="flex-basis: 600px; flex-grow: 0;">
      <p>
        Et livsforløb er et kvalificeret forslag til hvilke historiske kilder, der omhandler den samme person.
        Vi tilføjer løbende flere livsforløb og der kan komme flere detaljer på et livsforløb.
      </p>
      <a href="#more">
        Læs mere om livsforløb
        <span>ICON</span>
      </a>
    </div>
    <div style="flex-grow: 1; flex-shrink: 0; text-align: right;">
      <h3 style="font-size: 4em;">Beta</h3>
    </div>
  </div>
  <div style="background: white; box-shadow: 0 0 2px rgba(0,0,0,0.05); padding: 4rem; margin: 3rem 0;">
    <h3>Fritekstsøgning</h3>
    <input
      type="text"
      placeholder="Søg i livsforløb eller kilder"
    />
  </div>
  <div class="row">
    <ul class="nav nav-tabs col-12">
      <li class="nav-item">
        <a class="nav-link" routerLink="simple" routerLinkActive="active">Simpel søgning</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="advanced" routerLinkActive="active">Avanceret søgning</a>
      </li>
    </ul>
  </div>
  <div class="row border border-top-0">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>