.lls-btn {
  display: inline-flex;
  align-items: center;
  padding: .5rem 1rem;
  color: white;
  background-color: #000;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8125rem;
  letter-spacing: 1.2px;
  font-family: founders, Helvetica, Arial, sans-serif;
  letter-spacing: 0.1rem;

  &:hover {
    background-color: lighten(#000, 5%);
    color: white;
    text-decoration: none;
  }

  .lls-icon {
    width: 1rem;
    height: 1rem;
  }

  .lls-icon--right {
    margin-left: 0.5rem;
  }
}

.lls-btn--big {
  padding: 1.15rem 1.5rem;
  border-radius: 3px;
  font-size: 0.95rem;
}

.lls-btn--disabled {
  cursor: default;
  color: rgb(200, 200, 200);
  background-color: rgb(55, 55, 55);

  &:hover {
    background-color: rgb(55, 55, 55);
    color: rgb(200, 200, 200);
  }
}

.lls-btn--blue {
  color: white;
  background-color: $blue;
  border-color: $blue;

  &:hover {
    background-color: darken($blue, 5%);
  }
}

.lls-btn--right {
  border-radius: 0 3px 3px 0;
}
