.lls-btn {
  display: inline-flex;
  align-items: center;
  padding: 0.535rem 1rem;
  color: white;
  background-color: #000;
  border: 2px solid;
  border-color: #000;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 1.2px;

  &:hover {
    background-color: lighten(#000, 5%);
    color: white;
    text-decoration: none;

    .lls-icon {
      transform: translateY(-2px);
    }
  }

  &:focus {
    outline: 3px solid $blue;
    border-radius: 0;
    outline-offset: 0;
  }
}


.lls-btn--big {
  padding: 1.15rem 1.5rem;
  border-radius: 3px;
}

.lls-btn--small {
  font-size: 0.7rem;
}

.lls-btn--disabled {
  cursor: default;
  color: rgb(200, 200, 200);
  background-color: rgb(55, 55, 55);
  border-color: rgb(55, 55, 55);

  &:hover {
    background-color: rgb(55, 55, 55);
    color: rgb(200, 200, 200);

    .lls-icon {
      transform: none;
    }
  }
}

.lls-btn--blue {
  color: white;
  background-color: $blue;
  border-color: $blue;

  &:hover {
    background-color: darken($blue, 5%);
  }

  &:focus {
    outline-color: $blue--light;
  }
}

.lls-btn--grey {
  color: white;
  background-color: $grey;
  border-color: $grey;

  &:hover {
    background-color: darken($grey, 5%);
  }

  &:focus {
    outline-color: $grey--light;
  }
}

.lls-btn--outline {
  background-color: transparent;
  border-color: $off-black;
  color: $off-black;
  text-transform: none;

  &:hover {
    background-color: transparent;
    color: $off-black;
  }
}

.lls-btn--right {
  margin-top: 1rem;

  @media (min-width: $breakpointMd) {
    margin-top: 0;
    border-radius: 0 3px 3px 0;
  }
}

.lls-btn--link {
  &:hover {
    .lls-icon {
      transform: translateX(2px);
    }
  }
}

.lls-icon {
  width: 1rem;
  height: 1rem;
  transition: transform 0.2s;
}

.lls-icon--right {
  margin-left: 0.5rem;
}

.lls-btn--desktop {
  @media(max-width: $breakpointMd) {
    display: none;
  }
}

.lls-btn--mobile {
  @media(min-width: $breakpointMd) {
    display: none;
  }
}
