.lls-data-page-header {
  display: flex;
  flex-direction: column;

  @media(min-width: $breakpointMd) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.lls-data-page-header__title {
  font-size: 3.125rem;
}

.lls-data-page-header__source-type {
  font-family: notera;
  font-size: 2.475rem;
  font-weight: 400;
  margin: 0;
}

.lls-data-page-header__data-summary {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5rem;
  font-size: 1.25rem;
  font-weight: 400;
}

.lls-data-page-header__data-summary > * {
  margin: 0 0.5rem;
}

.lls-data-page-header__utility-links {
  font-size: 1rem;
  font-weight: 400;
  text-align: right;
  white-space: nowrap;

  @media(max-width: $breakpointSm) {
    margin-bottom: 1rem;
    white-space: normal;
  }
}

.lls-data-page-header__utility-link {
  cursor: pointer;
  white-space: nowrap;
  display: inline-block;
  margin-right: 0.625rem;

  @media(min-width: $breakpointSm) {
    &:last-child {
      margin-right: 0;
    }
  }

  @media(max-width: $breakpointSm) {
    display: block;
  }
}
