.data-section__header {
  font-family: founders, Helvetica, Arial, sans-serif;
  font-size: 1.25em;
}

.data-section__table {
  font-size: 1.0625rem;
  margin: 1.25rem 0 1.25rem;
  width: 100%;
  display: grid;
  grid-gap: 0 1rem;
  grid-auto-flow: dense;
  grid-template-columns: 1fr;

  @media (min-width: $breakpointMd) {
    grid-template-columns: 1fr 1fr;
  }

  tr,
  td {
    padding: 0.25rem 0;
  }
  
  tr {
    border-bottom: 1px solid $grey-border;
    display: flex;
    grid-column: span 1;
    grid-row: span 1;
  }

  td, th {
    display: block;
  }
  
  th {
    font-weight: 400;
    padding-right: 1rem;
    padding-top: 0.25rem;
    width: 33%;
    vertical-align: top;
  }
}
