$dropdownPaddingY: 1rem;
$dropdownFontSize: 1.125rem;

// We style on the custom element selector
lls-dropdown {
  display: inline-block;
  font-size: $dropdownFontSize;
  padding: 0.5rem $dropdownPaddingY;
  border: 2px solid $off-black;
  border-radius: 3px;
  width: 100%;
  margin: 0.125rem 0;
  cursor: pointer;
  position: relative;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @media (min-width: $breakpointMd) {
    margin: 0;
  }

  .lls-icon {
    margin-top: 4px;
    transition: transform 0.2s;
  }

  &:hover .lls-icon {
    transform: translateY(0.125rem);
  }

  &:focus {
    border-color: $blue;
    outline: 1px solid $blue;
    border-radius: 0;
    outline-offset: 0;
  }
}

.lls-dropdown--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.lls-dropdown__label {
  display: none;
}

.lls-dropdown__current-item {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.lls-dropdown__option-list {
  position: absolute;
  display: none;
  background: white;
  color: $off-black;
  box-shadow: 0 0 2px rgba(0,0,0,0.05);
  z-index: 1;
  left: 0;
  width: calc(100% + 3px);
  transform: translateY($dropdownPaddingY - 0.4rem) translateX(-2px);
  border: 1px solid $grey;
  border-top-width: 0;
}

.lls-dropdown__option-list--open {
  display: block;
  max-height: 250px;
  overflow-y: auto;
}

.lls-dropdown__category {
  font-weight: 600;
  font-size: 0.85rem;
  padding: 0.875rem $dropdownPaddingY 0.125rem;
}

.lls-dropdown__option {
  padding: 0.5rem $dropdownPaddingY;

  &:not(.lls-dropdown__option--disabled):hover,
  &:not(.lls-dropdown__option--disabled):focus {
    background: #ACCEF7;
  }
}

.lls-dropdown__option--selected {
  outline: 1px dotted $off-black;
  outline-offset: -1px;
}

.lls-dropdown__option--disabled {
  color: rgb(140, 140, 140);
  background: rgb(250, 250, 250);
  cursor: default;
}

/*
Option adder styling / a different type of dropdown
*/
.lls-dropdown--option-adder {
  border: 2px solid transparent;
  width: auto;

  .lls-dropdown__current-item {
    justify-content: flex-start;
  }

  .lls-dropdown__label {
    display: block;
    padding-right: 0.25rem;
    white-space: nowrap;
  }

  &:hover .lls-icon {
    transform: none;
  }

  .lls-dropdown__option-list {
    transform: translateY(1rem - 0.4rem) translateX(-1px);
    width: 225px;
    font-size: 0.95rem;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(0,0,0,0.15);

    @media (min-width: $breakpointMd) {
      transform: translateY(1rem - 0.4rem);
    }
  }

  .lls-dropdown__category {
    font-size: inherit;
  }

  .lls-dropdown__option {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
}

.lls-dropdown--big {
  padding: 1rem ($dropdownPaddingY + 0.4rem);

  .lls-dropdown__option {
    padding: 0.5rem ($dropdownPaddingY + 0.4rem);
  }
}

.lls-dropdown--grey {
  background-color: $grey-bg--light;

  .lls-dropdown__option--disabled {
    background-color: $grey-bg;
  }

  .lls-dropdown__option-list {
    background-color: $grey-bg--light;
  }
}
