.lls-filter-sidebar__option {
  font-size: 1.25rem;
  font-weight: 600;

  &:hover {
    background-color: $grey-bg--light;
  }

  &:last-of-type {
    border-bottom: 1px solid $grey-border;
  }
}

.lls-filter-sidebar__option--active {
  background-color: $grey-bg;

  &:hover {
    background-color: darken($grey-bg, 5%);
  }

  .lls-filter-sidebar__option-icon--delete {
    display: inline;
  }
}

.lls-filter-sidebar__option-icon--right {
  margin-left: auto;
}

.lls-filter-sidebar__option-icon--delete {
  display: none;
}
