.lls-filter-sidebar__option {
  font-size: 1.25rem;
  font-weight: 600;

  &:hover {
    background-color: $grey-bg--light;
  }

  &:last-of-type {
    border-bottom: 1px solid $grey-border;
  }
}

.lls-filter-sidebar__option--active {
  background-color: $grey-bg--light;

  &:hover {
    background-color: darken($grey-bg--light, 5%);
  }

  .lls-icon {
    stroke: $blue;
  }
}

.lls-filter-sidebar__option-count {
  font-weight: 400;
}

.lls-filter-sidebar__option-item--right {
  margin-left: auto;
}

.lls-filter-sidebar__option-icon--delete {
  display: none;
}

.lls-filter-chip__content-label {
  font-size: $very-small;
  font-weight: 400;
  line-height: 1;
  color: rgba(0,0,0,0.6);
}

.lls-filter-chip__remove-filter {
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  color: $off-black;
  display: flex;
  align-items: center;
}
