.lls-icon {
  width: 1.125em;
  height: 1.125em;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.lls-icon--filled {
  fill: initial;
  stroke-width: 0;
}

.lls-icon--small {
  width: 0.75em;
  height: 0.75em;
}

.lls-icon--right {
  margin-left: 0.25rem;
}

.lls-icon--left {
  margin-right: 0.25rem;
}