.lls-icon {
  width: 1.125em;
  height: 1.125em;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  vertical-align: initial;
}

.lls-icon--filled {
  fill: initial;
  stroke-width: 0;
}

.lls-icon--white  {
  fill: white;
}

.lls-icon--small {
  width: 0.75em;
  height: 0.75em;
}

.lls-icon--right {
  margin-left: 0.25rem;
}

.lls-icon--left {
  margin-right: 0.25rem;
}

.lls-icon--large {
  width: 1.5em;
  height: 1.5em;
  margin: 1em;
}

.lls-icon--census {
  stroke: $yellow;
}

.lls-icon--burial {
  stroke: $burial-grey;
}

.lls-icon--lifecourse {
  stroke: white;
}

.lls-icon--right {
  margin-left: 0.5rem;
}
