.lls-info-box-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.lls-info-box {
  width: 100%;
  padding: 2rem;
  color: white;
  background: rgb(6, 40, 81);
  margin-top: 1rem;
  font-size: 1rem;
  flex-grow: 0;
  flex-shrink: 1;

  @media(min-width: $breakpointMd) {
    flex-basis: 300px;
  }

  & strong {
    font-weight: 600;
  }
}
