.lls-lifecourse-header__text {
  display: flex;
}

.lls-lifecourse-header__links {
  
  @media(min-width: $breakpointMd) {
    text-align: right;
  }
}

.lls-lifecourse-footer__entry {
  font-size: 1rem;
  font-weight: 400;
}
.lls-lifecourse-footer__entry-label {
  color: $grey--light;
  font-size: 0.875rem;
  font-weight: 400;
}