.lls-life-course-source-container {
  display: flex;
  align-items: flex-start;
}

.lls-life-course-source-container__source-list {
  flex-grow: 1;

  @media(min-width: $breakpointMd) {
    .lls-source {
      height: 196px;
    }

    .lls-source__section {
      overflow: hidden;
    }

    .lls-source__person-name,
    .lls-source__person-age {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.lls-life-course-source-container__source-linking-graph {
  width: 320px;
  height: 100%;
  display: none;
  margin-top: 0.7rem;

  @media(min-width: $breakpointMd) {
    display: block;
  }
}
