.lls-results-header {
  background-color: $blue--darker;
  color: white;
  padding: 1.25rem 0 2.25rem;
}

.lls-results-header__field-label {
  margin: 0;
}

.lls-results-header__field-label-text {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.lls-results-header__right-section {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right;
}

.lls-results-header__checkboxes {
  display: flex;
  height: 45px;
  align-items: center;
}

.lls-results-header__checkbox-container {
  margin-right: 10px;
  font-size: 1rem;
  margin-bottom: 0;
}

.lls-results-header__checkbox {
  margin-right: 5px;
}

.lls-results-header__history-link {
  color: white;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    color: white;
  }

  @media(max-width: $breakpointMd) {
    border: 1px solid white;
    padding: 0.5rem 1rem;
  }
}
