.lls-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
  width: 100%;

  @for $i from 2 through 6 {
    &--gap-#{$i} {
      grid-gap: #{$i}rem;
    }
  }

  @each $name, $maxWidth in $breakpoints {
    @media (min-width: $maxWidth) {
      @for $i from 2 through 6 {
        &--gap-#{$i}--#{$name} {
          grid-gap: #{$i}rem;
        }
      }
    }
  }
}

.lls-row--align-bottom {
  align-items: flex-end;
}

@for $i from 1 through 12 {
  .lls-columns-#{$i} {
    grid-column: span $i;
  }
}

@each $name, $minWidth in $breakpoints {
  @media (min-width: $minWidth) {
    @for $i from 1 through 12 {
      .lls-columns-#{$i}--#{$name} {
        grid-column: span $i;
      }
    }
  }
}
