.lls-search-options {
  display: flex;
  padding: 0.5rem 0;
  justify-content: space-between;
  align-items: center;
}

.lls-search-options__result-type-checkboxes {
  display: flex;

  @media(max-width: $breakpointSm) {
    flex-direction: column;
  }
}

.lls-search-options__checkbox-container {
  margin-right: 1rem;
}

.lls-search-options__checkbox {
  margin-right: 0.25rem;
}

.lls-search-options__add-field {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.lls-search-options__clear-search {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 2px solid transparent;
  font-weight: inherit;
  white-space: nowrap;
  display: flex;

  .lls-icon {
    margin-top: 4px;
  }
}

.lls-search-options__clear-search-text {
  padding-right: 0.125rem;
}

.lls-simple-search__options {
  align-items: center;

  @media(min-width: $breakpointMd) {
    margin-left: 1.25rem;
    display: flex;
  }
}

.lls-simple-search__mobile-button {
  margin-left: auto;
}
