$sidebar-background-color: #fff;

.lls-sidebar {
  transform: translateX(-100%);
  transition: transform ease-in 200ms;
  max-width: 500px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  background-color: $sidebar-background-color;
  padding: 30px;
  padding-top: 80px;
  overflow-y: scroll;
}

.lls-sidebar--sticky-header {
  padding-top: 64px;
}

.lls-sidebar--right {
  transform: translateX(100%);
  left: auto;
  right: 0;
}

.lls-sidebar--open {
  transform: translateX(0%);
}

.lls-sidebar__header {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $off-black;

  .lls-sidebar--sticky-header & {
    position: sticky;
    top: -64px;
    padding-top: 1rem;
    background-color: $sidebar-background-color;
    box-shadow: 0 3px 5px $sidebar-background-color;
    z-index: 500;
  }
}

.lls-sidebar__item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: none;
    width: 100%;
    background-color: transparent;
    border-top: 1px solid $grey-border;
    
    &:last-of-type {
      border-bottom: 1px solid $grey-border;
    }
}

.lls-sidebar__item--link {
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: $grey-bg--light;
  }
}
