.lls-source {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-style: solid;
  border-width: 0;
  border-left-width: 10px;
  border-color: $blue;
  overflow: hidden;

  @media(min-width: $breakpointMd) {
    flex-direction: row;
    border-radius: 10px;
    border-left: none;
  }

  &::before {
    content: "";
    width: 16px;
    background-color: $blue;
    flex-shrink: 0
  }
}

.lls-source--selected {
  border-top-width: 3px;
  border-right-width: 3px;
  border-bottom-width: 3px;
}

.lls-source--census,
.lls-source--departure,
.lls-source--arrival {
  border-color: $yellow;

  &::before {
    background-color: $yellow;
  }
}

.lls-source--burial,
.lls-source--death {
  border-color: $burial-grey;

  &::before {
    background-color: $burial-grey;
  }
}

.lls-source--baptism,
.lls-source--birth {
  border-color: $baptism-green;

  &::before {
    background-color: $baptism-green;
  }
}

.lls-source--marriage {
  border-color: $marriage-red;

  &::before {
    background-color: $marriage-red;
  }
}

.lls-source--confirmation {
  border-color: $blue;

  &::before {
    background-color: $blue;
  }
}

.lls-source--lifecourse {
  background-color: $blue--dark;
  border-color: $blue--darker;
  color: white;

  &::before {
    background-color: $blue--darker;
  }
}

.lls-source__section {
  padding: 24px 20px;
  width: 100%;
  box-sizing: border-box;

  @media(min-width: $breakpointMd) {
    width: calc(25% - 4px);
  }
}

.lls-source__section--cta {
  display: flex;
  align-items: center;

  @media(max-width: $breakpointMd) {
    padding-top: 0;
  }

  @media(min-width: $breakpointMd) {
    justify-content: flex-end;
  }
}

.lls-source__section--bordered {
  border-color: $grey-border;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 0;
  border-left-width: 0;
  border-style: solid;

  .lls-source--lifecourse & {
    border-color: #324c6d;
  }

  @media(min-width: $breakpointMd) {
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-width: 0;
    border-bottom-width: 0;
  }
}

.lls-source__header {
  display: flex;
  align-items: center;

  @media(min-width: $breakpointMd) {
    display: block;
  }
}

.lls-source__title {
  font-size: 1.3rem;
  margin-right: 1rem;
  margin-bottom: 0;

  @media(min-width: $breakpointMd) {
    margin-right: 0;
    margin-bottom: .5rem;
  }
}

.lls-source__symbol {
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-right: 0.5rem;

  @media(min-width: $breakpointMd) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.lls-source__count {
  display: flex;
  height: 25px;
  width: 25px;
  border: 2px solid white;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.lls-source__count-number {
  transform: translateY(-2px);
}

.lls-source__count-text {
  display: none;

  @media(min-width: $breakpointMd) {
    display: block;
    margin-left: 0.5rem;
  }
}

.lls-source__subtitle {
  font-size: 16px;
  color: $grey--light;
  margin-bottom: 0;

  .lls-source--lifecourse & {
    color: #acbac3;
  }
}

.lls-source__person {
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.lls-source__person-name {
  margin-bottom: 0;
  margin-right: 0.75rem;
}

.lls-source__person-age {
  display: flex;
  align-items: center;
  margin-bottom: 0;

  .lls-icon {
    // Icon is a little off-center vertically, so we fix it with transform.
    transform: translateY(1px);
  }
}
