.lls-source-graph {
  position: relative;
}

.lls-source-graph__source {
  text-anchor: end;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 1px;
  position: absolute;
  display: flex;
  align-items: center;
}

.lls-source-graph__source-label {
  text-align: right;
  width: 100px;
}

.lls-source-graph__circle:before {
  content: '';
  background-color: rgba(darken($grey-bg, 12%), 0.5);
  border: 0px solid rgba(darken($grey-bg, 12%), 0.5);
  border-radius: 100%;
  width: 34px;
  height: 34px;
  transition: all 0.2s;
  position: absolute;
  top: -16px;
  left: -11px;
  z-index: -2;
  box-sizing: content-box;
}
.lls-source-graph__circle--link-with-duplicates::before {
  background-color: $marriage-red;
}
.lls-source-graph__link--active .lls-source-graph__circle:before {
  transform: scale(1.5);
}

.lls-source-graph__circle--action:before {
  width: 20px;
  height: 20px;
  top: -9px;
  left: -4px;
}

.lls-source-graph__circle {
  position: relative;
  margin-left: 20px;
  z-index: 1;
}

.lls-source-graph__circle:after {
  content: '';
  border: 2px solid white;
  position: absolute;
  z-index: 2;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  top: -5px;
}

.lls-source-graph__circle--census:after {
  background-color: $yellow;
}
.lls-source-graph__circle--burial:after {
  background-color: $burial-grey;
}
.lls-source-graph__circle--action:after {
  border-width: 5px;
  background-color: black;
}

.lls-source-graph__chronology-line {
  position: absolute;
  left: 125px;
  height: 164px;
  border-left: 2px solid black;
  width: 0;
}

.lls-source-graph__link {
  position: absolute;
  left: 150px;
}
.lls-source-graph__link-path {
  border: 2px dashed #8a8a8a;
  border-left: none;
  border-radius: 0 10px 10px 0;
  transition: border 0.4s;

  .lls-source-graph__link--active & {
    border: 3px solid rgb(25, 85, 163);
    border-left: none;
  }
}

/**
 * TOOLTIP
 **/
.lls-source-graph__tooltip {
  font-size: 0.9rem;
  color: white;
  text-align: center;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.4s;
  background: rgb(6, 40, 81);
  width: 240px;
  height: 265px;
  position: absolute;
  border-radius: 3px;
  z-index: 10;
  pointer-events: none;
}
.lls-source-graph__tooltip:after {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  transform: rotate(45deg);
  bottom: -6px;
  left: 113px;
  background: rgb(6, 40, 81);
}
.lls-source-graph__tooltip--active {
  opacity: 1;
  pointer-events: all;
}
.lls-source-graph__tooltip--link-with-duplicates {
  height: 320px;
}

.lls-source-graph__tooltip-label {
  font-weight: normal;
  color: $grey-bg;
  margin-bottom: -0.5rem;
}
.lls-source-graph__tooltip-text {
  line-height: 95%;
  margin: 0.5rem 0;
}
.lls-source-graph__tooltip-text--large {
  font-size: 1.5rem;
}

.lls-source-graph__tooltip-text--bold {
  font-weight: 500;
}
