.lls-source-info {
  display: flex;
  justify-content: flex-end;
}

.lls-source-info__entry {
  font-size: 1rem;
  font-weight: 400;

  &:not(:first-child) {
    margin-left: 3.5rem;
  }
}

.lls-source-info__entry-label {
  color: $grey--light;
  font-size: $very-small;
  font-weight: 400;
  margin: 0;
}
