.lls-source {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-left: 10px solid;
  border-left-color: $blue;
  

  @media(min-width: $breakpointSm) {
    flex-direction: row;
    border-radius: 10px;
    border-left: none;
  }

  &::before {
    content: "";
    width: 75px;
    background-color: $blue;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

.lls-source--census {
  border-left-color: $yellow;

  &::before {
    background-color: $yellow;
  }
}

.lls-source--lifecourse {
  background-color: $blue--dark;
  border-left-color: $blue--darker;
  color: white;

  &::before {
    background-color: $blue--darker;
  }
}

.lls-source__section {
  padding: 24px 20px;
  width: 100%;
  box-sizing: border-box;
}

.lls-source__section--cta {
  display: flex;
  align-items: center;

  @media(min-width: $breakpointSm) {
    justify-content: flex-end;
  }
}

.lls-source__section--bordered {
  border-color: #d7d7d7;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 0;
  border-left-width: 0;
  border-style: solid;

  .lls-source--lifecourse & {
    border-color: #324c6d;
  }

  @media(min-width: $breakpointSm) {
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-width: 0;
    border-bottom-width: 0;
  }
}

.lls-source__title {
  font-size: 1.3rem;
}

.lls-source__count {
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-bottom: 20px;
}

.lls-source__count-circle {
  // TODO: Fix vertical alignment on number in circle.
  display: flex;
  height: 25px;
  width: 25px;
  border: 2px solid white;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.lls-source__subtitle {
  font-size: 16px;
  color: #96a3b4;
  margin-bottom: 0;
}

.lls-source__person {
  font-size: 18px;
  margin-bottom: 0;
}
