.lls-profile-picture {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  background-color: grey;
  border-radius: 50%;
}

.lls-font-500 {
  font-weight: 500;
}

.user-information {
  width: 400px;
}

.user-information tr td {
  border-top: 1px solid $grey-bg;;
  border-bottom: 1px solid $grey-bg;
  padding: 10px 0;
}

.user-information tr td+td {
  padding-left: 40px;
}

.u-space-between {
  justify-content: space-between;
}

.u-flex {
  display: flex;
}
