// Text classes

.u-font-handwriting {
  font-family: notera !important;
  font-weight: 400 !important;
}

.u-bold {
  font-weight: 600 !important;
}

.u-semi-bold {
  font-weight: 500 !important;
}

.u-text-capitalize {
  text-transform: capitalize !important;
}

.u-text-left {
  text-align: left !important;
}

.u-text-center {
  text-align: center !important;
}

.u-text-right {
  text-align: right !important;
}

.u-text-grey--light {
  color: $grey--light;
}

.u-text-small {
  font-size: $small;
}

.u-text-very-small {
  font-size: $very-small;
}


// Spacing classes
.u-margin-0 {
  margin: 0 !important;
}

.u-mt-2 {
  margin-top: 0.625rem !important;
}

.u-mt-4 {
  margin-top: 2rem !important;
}

.u-mt-5 {
  margin-top: 3rem !important;
}

.u-mb-4 {
  margin-bottom: 2rem !important;
}

.u-ml-2 {
  margin-left: 0.625rem !important;
}

.u-ml-4 {
  margin-left: 1.25rem !important;
}

.u-ml-8 {
  margin-left: 2.500rem !important;
}

.u-mr-2 {
  margin-right: 0.625rem !important;
}

.u-mt-2 {
  margin-top: 0.625rem !important;
}

// Misc classses
.u-align-icon {
  display: flex;
  align-items: center;

  svg {
    transform: translateY(1px);
  }
}

.u-hide {
  display: none !important;
}

// transformations
.u-rotate-90 {
  transform: rotate(90deg);

  .lls-btn:hover &.lls-icon {
    transform: rotate(90deg) translateX(-2px);
  }
}

// Flex
.u-flex {
  display: flex;
}

.u-space-between {
  justify-content: space-between;
}

.u-align-items {
  align-items: center;
}

.u-direction-row {
  flex-direction: row
}
