// Text classes

.u-font-handwriting {
  font-family: notera !important;
  font-weight: 400 !important;
}

.u-bold {
  font-weight: 600 !important;
}

.u-text-capitalize {
  text-transform: capitalize !important;
}

.u-text-left {
  text-align: left !important;
}

.u-text-right {
  text-align: center !important;
}

.u-text-right {
  text-align: right !important;
}

.u-text-grey--light {
  color: $grey--light;
}


// Spacing classes
.u-margin-0 {
  margin: 0 !important;
}

.u-mt-2 {
  margin-top: 0.625rem !important;
}

.u-mb-4 {
  margin-bottom: 2rem !important;
}

.u-ml-2 {
  margin-left: 0.625rem !important;
}

.u-mr-2 {
  margin-right: 0.625rem !important;
}

// Misc classses
.u-align-icon {
  display: flex;
  align-items: center;

  svg {
    transform: translateY(1px);
  }
}
