<div *ngIf="profile" class="lls-container u-mt-4">
  <app-loading-overlay
    [class]="saving ? '' : 'u-hide'"
  ></app-loading-overlay>
  <app-modal
    [show]="!!error"
    title="Der opstod en fejl"
    [featherIconPath]="featherIconPath"
    (close)="error = null"
  >
    <div>
      <p>
        Fejlen kan fx skyldes at du enten:
      </p>
      <ol>
        <li>Opdaterede både brugernavn og email på samme tid. Opdater en oplysning af gangen og klik 'gem' efter hver gang.</li>
        <li>Opdaterede dit brugernavn med et ikke gyldigt tegn. Godkendte tegn i brugernavne er små og store bogstaver, samt tal og følgende specialtegn: '_', '+', '-', '.', '!', '#', '$', '^', '`' og '''</li>
      </ol>
      <p>
        Den fulde fejlbesked kan læses nedenfor på engelsk:
      </p>
      <code>{{ error }}</code>
    </div>
  </app-modal>
  <app-modal
    [show]="showEmailChangeWarning"
    title="Er du sikker?"
    [featherIconPath]="featherIconPath"
    (close)="showEmailChangeWarning = false"
  >
    <div>
      <p>
        <strong>OBS</strong> - Når du ændrer din emailadresse, skal du bekræfte adressen inden din brugerprofil virker igen. Bekræft adressen ved at klikke på linket i den mail vi sender til den nye emailadresse.
      </p>
      <p>
        Du er ved at ændre din emailadresse til <strong>{{ newEmail }}</strong>.
      </p>
    </div>
    <div class="u-mt-2">
      <button
        class="lls-btn"
        (click)="saveProfile(); showEmailChangeWarning = false;"
      >
        <span>Gem og skift email</span>
        <svg class="lls-icon lls-icon--right">
          <use [attr.href]="featherSpriteUrl + '#save'"></use>
        </svg>
      </button>
    </div>
  </app-modal>
  <app-modal
    [show]="showDeleteWarning"
    title="Er du sikker?"
    [featherIconPath]="featherIconPath"
    (close)="showDeleteWarning = false"
  >
    <div>
      <p>
        <strong>OBS</strong> - Hvis du sletter din brugerprofil kan den ikke gendannes.
      </p>
      <p>
        Når du sletter din brugerprofil, sletter vi navn, brugernavn og email, men ikke den feedback du har givet på links. Feedbacken gemmes i anonymiseret form.
      </p>
    </div>
    <div class="u-mt-2">
      <button
        class="lls-btn lls-btn--danger"
        (click)="deleteProfile(); showDeleteWarning = false;"
      >
        <span>Slet bruger permanent</span>
        <svg class="lls-icon lls-icon--right">
          <use [attr.href]="featherSpriteUrl + '#trash'"></use>
        </svg>
      </button>
    </div>
  </app-modal>
  <div class="lls-results-header__link-section">
    <a
      class="lls-link u-align-icon"
      (click)="openSearchHistory = true"
      (keyup.enter)="openSearchHistory = true"
      tabindex="0"
    >
      Min søgehistorik
    </a>
  </div>
  <div class="u-mt-4 u-flex u-space-between">
    <div>
      <h2 class="u-font-handwriting lls-data-page-header__source-type u-margin-0">
        Min side
      </h2>
      <h1 class="lls-data-page-header__title">
        <ng-container *ngIf="profile.firstname; else nicknameBlock">
          {{ profile.firstname }} {{ profile.lastname }}
        </ng-container>
        <ng-template #nicknameBlock>
          {{ profile.userName }}
        </ng-template>
      </h1>
      <p class="lls-data-page-header__data-summary">
        <span>Du har bedømt links for {{ ratedLifecourses.length }} livsforløb</span>
      </p>
    </div>
  </div>

  <button (click)="logout()" tabIndex="0" type="submit" class="lls-btn u-mt-2">
    <span>Log ud</span>
    <svg class="lls-icon lls-icon--right">
      <use [attr.href]="featherSpriteUrl + '#lock'"></use>
    </svg>
  </button>

  <div class="lls-card u-flex u-space-between">
    <form class="lls-row" (submit)="profile.email === newEmail ? saveProfile() : showEmailChangeWarning = true">
      <div *ngIf="!profile.picture" class="lls-profile-picture lls-columns-12 lls-columns-2--md lls-gap">
        JP
      </div>
      <div *ngIf="profile.picture" class="lls-profile-picture lls-columns-12 lls-columns-2--md lls-gap">
        <img [src]="profile.picture" class="lls-profile-picture" alt="">
      </div>
      <div class="lls-columns-12 lls-columns-8--md">
        <h3 class="lls-card__title">
          Mine oplysninger
        </h3>
        <table class="lls-user-information">
          <tr>
            <td class="u-semi-bold">Brugernavn</td>
            <td>
              <span *ngIf="!isEditingProfile">{{ profile.userName }}</span>
              <div class="lls-input-group" *ngIf="isEditingProfile">
                <input
                  type="text"
                  placeholder="Indtast brugernavn"
                  class="lls-input-field lls-input-group__field"
                  [(ngModel)]="newUsername"
                  name="new-nickname"
                  [disabled]="saving"
                />
              </div>
            </td>
          </tr>
          <tr>
            <td class="u-semi-bold">Email</td>
            <td>
              <span *ngIf="!isEditingProfile">{{ profile.email }}</span>
              <div class="lls-input-group" *ngIf="isEditingProfile">
                <input
                  type="text"
                  placeholder="Indtast email"
                  class="lls-input-field lls-input-group__field"
                  [(ngModel)]="newEmail"
                  name="new-email"
                  [disabled]="saving"
                />
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="lls-columns-12 lls-columns-2--md u-flex u-flex--xs-column u-align-items-end u-justify-start">
        <button
          (click)="editProfile(); $event.preventDefault();"
          class="lls-btn"
          *ngIf="!isEditingProfile"
        >
          <span>Rediger</span>
          <svg class="lls-icon lls-icon--right">
            <use [attr.href]="featherSpriteUrl + '#edit-2'"></use>
          </svg>
        </button>
        <button
          class="lls-btn"
          *ngIf="isEditingProfile"
          type="submit"
          [disabled]="saving"
        >
          <span>Gem</span>
          <svg class="lls-icon lls-icon--right">
            <use [attr.href]="featherSpriteUrl + '#save'"></use>
          </svg>
        </button>
        <button
          (click)="showDeleteWarning = true; $event.preventDefault();"
          class="lls-btn lls-btn--danger u-mt-2"
        >
          <span>Slet bruger</span>
          <svg class="lls-icon lls-icon--right">
            <use [attr.href]="featherSpriteUrl + '#trash'"></use>
          </svg>
        </button>
      </div>
    </form>
  </div>

  <!-- Livsforløb -->

  <div class="lls-sidebar__header" style="margin-bottom: 0px;">
    <h3>Livsforløb</h3>
  </div>
  <p>
    Livsforløb du har bedømt
  </p>

  <div class="lls-row">
    <ng-container *ngFor="let lifecourse of ratedLifecourses">
      <app-life-course-item class="lls-columns-12" [item]="lifecourse.personAppearances" [lifecourse-key]="lifecourse.key"></app-life-course-item>
    </ng-container>
    <div *ngIf="!ratedLifecourses.length" class="lls-columns-12 u-text-center">
      <p>
        Du har ikke bedømt nogen links.
      </p>
    </div>
  </div>
</div>

<app-search-history
  [openSearchHistory]="openSearchHistory"
  [featherIconPath]="featherSpriteUrl"
  (close)="openSearchHistory = false"
></app-search-history>
