<div *ngIf="user" class="lls-container u-mt-4">
  <div class="lls-results-header__link-section">
    <a routerLink="/" tabIndex="0" class="lls-link u-align-icon">
      <svg class="lls-icon">
        <use [attr.href]="featherSpriteUrl + '#arrow-left'"></use>
      </svg>
      Tilbage til forsiden
    </a>
    <a
      class="lls-link u-align-icon"
      (click)="openSearchHistory = true"
      (keyup.enter)="openSearchHistory = true"
      tabindex="0"
    >
      Min søgehistorik
    </a>
  </div>
  <div class="u-mt-4 u-flex u-space-between">
    <div>
      <h2 class="u-font-handwriting lls-data-page-header__source-type u-margin-0">
        Min side
      </h2>
      <h1 class="lls-data-page-header__title">
        <ng-container *ngIf="user.firstname; else nicknameBlock">
          {{ user.firstname }} {{ user.lastname }}
        </ng-container>
        <ng-template #nicknameBlock>
          {{ user.nickname }}
        </ng-template>
      </h1>
      <p class="lls-data-page-header__data-summary">
        <span>Du har bedømt links for {{ ratedLifecourses.length }} livsforløb</span>
      </p>
    </div>
  </div>

  <button (click)="logout()" tabIndex="0" type="submit" class="lls-btn u-mt-2">
    <span>Log ud</span>
    <svg class="lls-icon lls-icon--right">
      <use [attr.href]="featherSpriteUrl + '#lock'"></use>
    </svg>
  </button>

  <div class="lls-card u-flex u-space-between">
    <div class="lls-row">
      <div *ngIf="!user.picture" class="lls-profile-picture lls-columns-12 lls-columns-2--md lls-gap">
        JP
      </div>
      <div *ngIf="user.picture" class="lls-profile-picture lls-columns-12 lls-columns-2--md lls-gap">
        <img [src]="user.picture" class="lls-profile-picture" alt="">
      </div>
      <div class="lls-columns-12 lls-columns-8--md">
        <h3 class="lls-card__title">
          Mine oplysninger
        </h3>
        <table class="lls-user-information">
          <tr>
            <td class="u-semi-bold">Brugernavn</td>
            <td>
              <span *ngIf="!isEditingProfile">{{ user.nickname }}</span>
              <div class="lls-input-group" *ngIf="isEditingProfile">
                <input
                  type="text"
                  placeholder="Indtast brugernavn"
                  class="lls-input-field lls-input-group__field"
                  [(ngModel)]="newNickname"
                  name="new-nickname"
                />
              </div>
            </td>
          </tr>
          <tr>
            <td class="u-semi-bold">Email</td>
            <td>
              <span *ngIf="!isEditingProfile">{{ user.email }}</span>
              <div class="lls-input-group" *ngIf="isEditingProfile">
                <input
                  type="text"
                  placeholder="Indtast email"
                  class="lls-input-field lls-input-group__field"
                  [(ngModel)]="newEmail"
                  name="new-email"
                />
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="lls-columns-12 lls-columns-2--md">
        <button
          (click)="editProfile()"
          type="submit"
          class="lls-btn"
          *ngIf="!isEditingProfile"
        >
          <span>Rediger</span>
          <svg class="lls-icon lls-icon--right">
            <use [attr.href]="featherSpriteUrl + '#edit-2'"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Livsforløb -->

  <div class="lls-sidebar__header" style="margin-bottom: 0px;">
    <h3>Livsforløb</h3>
  </div>
  <p>
    Livsforløb du har bedømt
  </p>

  <div class="lls-row">
    <ng-container *ngFor="let lifecourse of ratedLifecourses">
      <app-life-course-item class="lls-columns-12" [item]="lifecourse.personAppearances" [lifecourse-key]="lifecourse.key"></app-life-course-item>
    </ng-container>
    <div *ngIf="!ratedLifecourses.length" class="lls-columns-12 u-text-center">
      <p>
        Du har ikke bedømt nogen links.
      </p>
    </div>
  </div>
</div>

<app-search-history
  [openSearchHistory]="openSearchHistory"
  [featherIconPath]="featherSpriteUrl"
  (close)="openSearchHistory = false"
></app-search-history>
